In [1]:
# Load relevant packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as sm
import warnings

import re 
def clean_text(string,replace=''):
    regex = '[^A-Za-z0-9]+'
    return re.sub(regex, replace, string)

In [2]:
## load data set
carmax_df = pd.read_csv('CaseDataRemodeled.csv')

## Add Car Class (e.g. SUV)

In [3]:
import requests
from bs4 import BeautifulSoup as bsoup
    
carClass = {}
bodyStyle = ['convertible','coupe','van','truck','suv','sedan','wagon']

for style in bodyStyle:
    #assign variable for url from which we acquire html data
    search_url = 'https://www.cars.com/research/{0}/2015/?pageNum=0&rpp=120'.format(style)
                
    #use requests pack to pull dat. Headers makes it think browser and not programatic
    response = requests.get(search_url, headers={
            "User-Agent": "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36"}).content
            
    """ parse html """
    parsed_html = bsoup(response, 'lxml')
    """ initialize results list """
    my_result_list = []

    #for loop to dig into the table and create a list of lists
    for result in parsed_html.find_all('h4', class_="cui-delta"):
        results1 = result.text.split(' ', 2)
        my_result_list.append(results1[1:])

    carClass[style] = my_result_list

In [4]:
for i in carClass:
    for j in carClass[i]:
        for k in range(len(j)):
            j[k] = j[k].upper()

Mercedes-Benz has class and number <br>
Rename to just class

In [5]:
#Clean car models in carClass dict
for key, value in carClass.items():
    for val in value:
        val[1] = clean_text(re.sub('-CLASS','',val[1]))

In [6]:
#carmax_clean.loc[carmax_clean[carmax_clean['purchase_make'] == 'MERCEDES-BENZ'], 'purchase_model'] #= value
carmax_clean.loc[carmax_clean.purchase_make == 'MERCEDES-BENZ', 'purchase_model'] = ''.join(filter(str.isalpha, carmax_clean.loc[carmax_clean.purchase_make == 'MERCEDES-BENZ', 'purchase_model'])).split('AMG')
#carmax_clean.purchase_make

NameError: name 'carmax_clean' is not defined

In [ ]:
#Clean car models in carClass dict
carmax_clean = carmax_df.copy()
carmax_clean['purchase_model'] = carmax_clean['purchase_model'].apply(clean_text)

def clean_MB(string,replace=''):
    string = re.sub('AMG', replace, string)
    regex = '[^A-Z]+'
    return re.sub(regex, replace, string)

carmax_clean.loc[carmax_clean.purchase_make == 'MERCEDES-BENZ', 'purchase_model'] = carmax_clean.loc[carmax_clean.purchase_make == 'MERCEDES-BENZ', 'purchase_model'].apply(clean_MB)

In [ ]:
np.unique(carmax_clean.loc[carmax_clean.purchase_make == 'MERCEDES-BENZ', 'purchase_model'])

In [9]:
carmax_clean

,insert_num,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,purchase_price_UB,trade_in,vehicle_financing,customer_age,customer_income,customer_gender,customer_previous_purchase,customer_distance_to_dealer,post_purchase_satisfaction,vehicle_warranty_used,subsequent_purchases,AgeBin
0,81690,DODGE,CHARGER,2012,15001.0,20000.0,1,1,21 - 30,40001 - 60000,U,0,8.0,?,0,1,Twenties
1,109994,FORD,F150,2007,15001.0,20000.0,0,0,51 - 60,0 - 20000,F,1,19.0,?,0,0,Fifties
2,11399,BMW,328,2010,25001.0,30000.0,1,1,41 - 50,60001 - 80000,F,1,21.0,?,0,0,Forties
3,214156,LEXUS,GS300,2003,10001.0,15000.0,0,1,21 - 30,20001 - 40000,M,0,8.0,?,0,0,Twenties
4,36685,CHEVROLET,CRUZE,2012,15001.0,20000.0,1,1,31 - 40,120001 - 140000,M,1,5.0,?,1,1,Thirties
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355869,195314,JEEP,LIBERTY,2010,15001.0,20000.0,0,1,21 - 30,20001 - 40000,F,0,13.0,?,0,0,Twenties
355870,58219,CHEVROLET,SONIC,2012,10001.0,15000.0,1,0,71 - 80,?,U,0,2.0,?,0,0,Seventies
355871,207386,KIA,SORENTO,2012,15001.0,20000.0,1,1,61 - 70,20001 - 40000,F,1,9.0,?,0,1,Sixties
355872,252391,NISSAN,350Z,2003,10001.0,15000.0,0,1,21 - 30,40001 - 60000,M,0,5.0,?,0,0,Twenties
355873,52652,CHEVROLET,MALIBU,2012,15001.0,20000.0,1,1,31 - 40,?,M,0,9.0,?,0,0,Thirties

In [34]:
for i in carClass:
    for j in carClass[i]:
        if j[0] == 'BMW':
            print(j[1])

428
435
M6
650
640
Z4
M4
428
435
228
M235
M6
650
640
X5
X1
X6
X3
X4
X5M
X6M
M3
328
535
750
320
M5
528
550
740
328D
760
535D
ACTIVEHYBRID5
ALPINAB7
ACTIVEHYBRID7
328
328GRANTURISMO
328D
335GRANTURISMO
535GRANTURISMO
550GRANTURISMO

In [12]:
purchase_class = []
for i in range(len(list(carmax_clean['purchase_model']))):
    carType = 'NF'
    for key, value in carClass.items():
        for style in value:
            if carmax_clean['purchase_model'][i] == style[1]:
                carType = key
                break
        else:
            continue
        break
    
    purchase_class.append(carType)
len(purchase_class)

355874

In [ ]:
# from itertools import product
# purchase_class = []
# for i in range(len(list(carmax_clean['purchase_model']))):
#     carType = ''
#     for key, value in carClass.items():
#         for style in value:
#             if carmax_clean['purchase_model'][i] == style[1]:
#                 carType = key
#                 break
            
#     if carType == '':
#         carType = 'NF'
#     purchase_class.append(carType)
# purchase_class

In [13]:
len(purchase_class)

355874

In [14]:
carmax_df['purchase_class'] = purchase_class

In [15]:
# for i in carClass:
#     for j in carClass[i]:
#         if j[0] == 'LEXUS':
#             print(j[1])

In [16]:
carmax_df.groupby('purchase_class').count()
#df_rated.isnull().sum(axis = 0)

,insert_num,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,purchase_price_UB,trade_in,vehicle_financing,customer_age,customer_income,customer_gender,customer_previous_purchase,customer_distance_to_dealer,post_purchase_satisfaction,vehicle_warranty_used,subsequent_purchases,AgeBin
purchase_class,,,,,,,,,,,,,,,,,
NF,87255,87255,87255,87255,87253,87253,87255,87255,87255,87255,87255,87255,85663,87255,87255,87255,87255
convertible,17966,17966,17966,17966,17965,17965,17966,17966,17966,17966,17966,17966,17626,17966,17966,17966,17966
coupe,20968,20968,20968,20968,20968,20968,20968,20968,20968,20968,20968,20968,20664,20968,20968,20968,20968
sedan,117569,117569,117569,117569,117569,117569,117569,117569,117569,117569,117569,117569,115687,117569,117569,117569,117569
suv,75978,75978,75978,75978,75978,75978,75978,75978,75978,75978,75978,75978,74713,75978,75978,75978,75978
truck,20443,20443,20443,20443,20443,20443,20443,20443,20443,20443,20443,20443,20002,20443,20443,20443,20443
van,8529,8529,8529,8529,8529,8529,8529,8529,8529,8529,8529,8529,8365,8529,8529,8529,8529
wagon,7166,7166,7166,7166,7166,7166,7166,7166,7166,7166,7166,7166,7051,7166,7166,7166,7166

In [17]:
unlabeled = carmax_df.loc[carmax_df.purchase_class == 'NF',['purchase_make','purchase_model']]#.values[:,:]
unlabeled

       purchase_make    purchase_model
3              LEXUS            GS 300
15              MINI            COOPER
16          CHRYSLER  TOWN AND COUNTRY
21            SATURN               ION
23            NISSAN            MAXIMA
...              ...               ...
355862     CHEVROLET            COBALT
355863       PONTIAC                G6
355867          FORD            RANGER
355869          JEEP           LIBERTY
355872        NISSAN              350Z

[87255 rows x 2 columns]

In [31]:
pd.DataFrame(unlabeled['purchase_model'].unique()).to_csv("CarClassManualFind.csv")

In [218]:
carmax_df.

array([[1, 0, 0],
       [1, 0, 0],
       [2, 3, 4]])

In [36]:
len(carmax_df['purchase_model'].unique())

639