In [1]:
# Load relevant packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as sm
import warnings

In [17]:
carmax_df = pd.read_csv('CaseCompetitionData2021.csv')
print(carmax_df.shape)
carmax_df[carmax_df['customer_gender']=='M']

(355874, 15)

,insert_num,purchase_make,purchase_model,purchase_vehicle_year,purchase_price,trade_in,vehicle_financing,customer_age,customer_income,customer_gender,customer_previous_purchase,customer_distance_to_dealer,post_purchase_satisfaction,vehicle_warranty_used,subsequent_purchases
3,214156,LEXUS,GS 300,2003,10001 - 15000,0,1,21 - 30,20001 - 40000,M,0,8,?,0,0
4,36685,CHEVROLET,CRUZE,2012,15001 - 20000,1,1,31 - 40,120001 - 140000,M,1,5,?,1,1
6,267746,NISSAN,FRONTIER,2012,20001 - 25000,0,1,21 - 30,20001 - 40000,M,0,8,?,0,1
7,275862,NISSAN,PATHFINDER,2014,35001 - 40000,1,1,61 - 70,80001 - 100000,M,0,5,?,0,0
9,126695,FORD,FUSION,2012,15001 - 20000,0,1,51 - 60,140001 - 160000,M,0,11,?,0,1
14,202553,KIA,FORTE,2011,10001 - 15000,1,0,61 - 70,?,M,0,9,?,0,0
15,247558,MINI,COOPER,2009,10001 - 15000,1,1,21 - 30,100001 - 120000,M,0,14,?,0,1
19,121128,FORD,FOCUS,2012,10001 - 15000,1,1,31 - 40,80001 - 100000,M,1,7,?,0,0
20,39234,CHEVROLET,EQUINOX,2013,20001 - 25000,1,1,21 - 30,60001 - 80000,M,1,7,?,0,0
24,340117,TOYOTA,TUNDRA,2009,20001 - 25000,1,1,31 - 40,60001 - 80000,M,0,11,?,0,6
26,41783,CHEVROLET,IMPALA,2009,10001 - 15000,0,1,31 - 40,20001 - 40000,M,0,5,?,1,0
27,303228,SUZUKI,SX4,2012,10001 - 15000,0,1,31 - 40,40001 - 60000,M,1,2,?,1,0
29,78203,DODGE,CALIBER,2010,10001 - 15000,0,1,51 - 60,0 - 20000,M,0,7,?,1,0
30,263790,NISSAN,ALTIMA,2012,15001 - 20000,1,1,41 - 50,80001 - 100000,M,0,4,?,0,0
31,139909,GMC,YUKON,2007,20001 - 25000,1,1,21 - 30,80001 - 100000,M,0,19,?,1,1
34,86319,DODGE,GRAND CARAVAN,2013,15001 - 20000,1,1,41 - 50,40001 - 60000,M,0,4,?,0,0
36,190481,JEEP,COMMANDER,2007,15001 - 20000,0,0,51 - 60,40001 - 60000,M,0,17,?,1,0
37,27162,CHEVROLET,AVALANCHE 1500,2011,30001 - 35000,1,1,51 - 60,60001 - 80000,M,1,4,?,0,0
38,32729,CHEVROLET,COBALT,2007,5001 - 10000,0,1,41 - 50,80001 - 100000,M,0,27,?,1,1
41,212749,LEXUS,ES 330,2006,10001 - 15000,1,0,51 - 60,100001 - 120000,M,1,8,?,0,1
44,31791,CHEVROLET,CAPTIVA SPORT,2012,20001 - 25000,1,1,41 - 50,40001 - 60000,M,0,31,?,0,1
45,51510,CHEVROLET,MALIBU,2012,15001 - 20000,0,1,21 - 30,20001 - 40000,M,0,48,?,0,1
47,161239,HONDA,FIT,2009,10001 - 15000,1,0,31 - 40,?,M,0,16,?,1,0
49,26224,CADILLAC,STS,2005,15001 - 20000,0,1,21 - 30,20001 - 40000,M,0,7,?,0,0
51,85381,DODGE,GRAND CARAVAN,2012,15001 - 20000,0,1,51 - 60,60001 - 80000,M,1,31,?,0,0
52,76796,DODGE,AVENGER,2012,15001 - 20000,1,1,21 - 30,20001 - 40000,M,0,7,?,0,0
54,152654,HONDA,CIVIC,2010,10001 - 15000,0,0,21 - 30,20001 - 40000,M,0,4,?,0,0
56,354942,VOLVO,S60,2011,25001 - 30000,1,1,31 - 40,120001 - 140000,M,0,3,?,0,1
59,130386,FORD,MUSTANG,2011,25001 - 30000,1,1,41 - 50,80001 - 100000,M,1,39,?,1,1
60,329656,TOYOTA,RAV4,2007,5001 - 10000,0,0,21 - 30,?,M,1,1,?,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355811,236567,MERCEDES-BENZ,C300,2010,25001 - 30000,0,0,51 - 60,120001 - 140000,M,0,8,?,0,1
355812,44536,CHEVROLET,IMPALA,2012,15001 - 20000,0,0,71 - 80,?,M,0,7,?,1,0
355813,135219,GMC,ACADIA,2007,15001 - 20000,0,1,31 - 40,60001 - 80000,M,0,7,?,1,0
355818,81833,DODGE,CHARGER,2012,20001 - 25000,0,1,31 - 40,100001 - 120000,M,0,51,?,0,0
355819,202288,KIA,FORTE,2010,10001 - 15000,1,1,31 - 40,20001 - 40000,M,1,1,?,1,0
355823,221273,LINCOLN,LS,2006,10001 - 15000,0,1,71 - 80,0 - 20000,M,0,45,?,0,0
355826,247293,MINI,COOPER,2008,15001 - 20000,0,1,31 - 40,180001 - 200000,M,0,17,?,0,0
355827,11807,BMW,328,2011,20001 - 25000,1,1,41 - 50,140001 - 160000,M,0,3,?,0,0
355829,248904,MINI,COOPER,2011,20001 - 25000,1,0,41 - 50,0 - 20000,M,1,2,?,0,0
355831,77469,DODGE,CALIBER,2007,10001 - 15000,0,1,41 - 50,40001 - 60000,M,0,1,?,1,0
355832,321010,TOYOTA,COROLLA,2012,10001 - 15000,0,1,31 - 40,40001 - 60000,M,1,1,?,1,1
355835,232203,MAZDA,MAZDA6,2012,10001 - 15000,0,0,21 - 30,?,M,0,8,?,0,1
355839,142193,HONDA,ACCORD,2006,10001 - 15000,1,1,21 - 30,20001 - 40000,M,0,2,?,0,0
355840,275128,NISSAN,PATHFINDER,2010,20001 - 25000,1,1,41 - 50,100001 - 120000,M,0,22,?,0,0
355841,111340,FORD,F150,2009,20001 - 25000,1,1,41 - 50,100001 - 120000,M,1,7,?,1,0
355844,249842,MITSUBISHI,ECLIPSE,2009,15001 - 20000,0,1,41 - 50,80001 - 100000,M,0,4,?,1,0
355845,63786,CHEVROLET,TRAVERSE,2012,20001 - 25000,0,1,51 - 60,80001 - 100000,M,0,5,?,0,1
355848,185118,INFINITI,G35,2008,20001 - 25000,0,1,21 - 30,60001 - 80000,M,0,12,?,0,5
355849,193234,JEEP,GRAND CHEROKEE,2011,30001 - 35000,0,0,61 - 70,0 - 20000,M,1,?,?,0,1
355851,198801,JEEP,PATRIOT,2012,15001 - 20000,1,1,61 - 70,0 - 20000,M,1,4,?,0,0
355854,122678,FORD,FOCUS,2013,20001 - 25000,1,1,31 - 40,100001 - 120000,M,1,4,?,0,2
355855,269092,NISSAN,MAXIMA,2009,20001 - 25000,0,1,21 - 30,60001 - 80000,M,0,37,?,0,1
355858,134077,FORD,TAURUS,2011,15001 - 20000,0,1,31 - 40,20001 - 40000,M,0,14,?,0,1
355859,336834,TOYOTA,TACOMA,2007,15001 - 20000,0,1,21 - 30,20001 - 40000,M,0,18,?,0,0
355860,179286,HYUNDAI,SONATA,2011,20001 - 25000,1,0,41 - 50,?,M,0,7,?,0,1
355861,212953,LEXUS,ES 350,2007,15001 - 20000,1,0,31 - 40,?,M,1,6,?,0,2
355863,291829,PONTIAC,G6,2007,10001 - 15000,1,1,21 - 30,20001 - 40000,M,0,4,?,0,0
355868,324762,TOYOTA,HIGHLANDER,2013,35001 - 40000,0,1,41 - 50,100001 - 120000,M,0,14,?,0,4
355872,252391,NISSAN,350Z,2003,10001 - 15000,0,1,21 - 30,40001 - 60000,M,0,5,?,0,0
355873,52652,CHEVROLET,MALIBU,2012,15001 - 20000,1,1,31 - 40,?,M,0,9,?,0,0

In [18]:
ax = (
    carmax_df.groupby(["purchase_vehicle_year"])["pop"]
    .count()
    .sort_values(by="insert_num", ascending=False)
    .plot.bar(x="continent", y="Total Population")
)
ax.set_xlabel("Continent")
ax.set_ylabel("Total Population (billion)")
_ = ax.set_title("Asia is the most populous continent")

purchase_vehicle_year
1953        1
1966        1
1969        1
1971        1
1985        1
1986        1
1988        2
1993        2
1995        6
1996        3
1997        1
1998        4
1999       12
2000       35
2001      126
2002     1869
2003     5104
2004     8301
2005    12410
2006    20201
2007    28868
2008    33547
2009    28822
2010    68420
2011    61246
2012    62913
2013    23019
2014      957
Name: insert_num, dtype: int64

In [22]:
carmax_df.groupby(["purchase_vehicle_year"]).count().reset_index()

,purchase_vehicle_year,insert_num,purchase_make,purchase_model,purchase_price,trade_in,vehicle_financing,customer_age,customer_income,customer_gender,customer_previous_purchase,customer_distance_to_dealer,post_purchase_satisfaction,vehicle_warranty_used,subsequent_purchases
0,1953,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1,1966,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,1969,1,1,1,1,1,1,1,1,1,1,1,1,1,1
3,1971,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,1985,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5,1986,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6,1988,2,2,2,2,2,2,2,2,2,2,2,2,2,2
7,1993,2,2,2,2,2,2,2,2,2,2,2,2,2,2
8,1995,6,6,6,6,6,6,6,6,6,6,6,6,6,6
9,1996,3,3,3,3,3,3,3,3,3,3,3,3,3,3
10,1997,1,1,1,1,1,1,1,1,1,1,1,1,1,1
11,1998,4,4,4,4,4,4,4,4,4,4,4,4,4,4
12,1999,12,12,12,12,12,12,12,12,12,12,12,12,12,12
13,2000,35,35,35,35,35,35,35,35,35,35,35,35,35,35
14,2001,126,126,126,126,126,126,126,126,126,126,126,126,126,126
15,2002,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869
16,2003,5104,5104,5104,5104,5104,5104,5104,5104,5104,5104,5104,5104,5104,5104
17,2004,8301,8301,8301,8301,8301,8301,8301,8301,8301,8301,8301,8301,8301,8301
18,2005,12410,12410,12410,12410,12410,12410,12410,12410,12410,12410,12410,12410,12410,12410
19,2006,20201,20201,20201,20201,20201,20201,20201,20201,20201,20201,20201,20201,20201,20201
20,2007,28868,28868,28868,28868,28868,28868,28868,28868,28868,28868,28868,28868,28868,28868
21,2008,33547,33547,33547,33547,33547,33547,33547,33547,33547,33547,33547,33547,33547,33547
22,2009,28822,28822,28822,28822,28822,28822,28822,28822,28822,28822,28822,28822,28822,28822
23,2010,68420,68420,68420,68420,68420,68420,68420,68420,68420,68420,68420,68420,68420,68420
24,2011,61246,61246,61246,61246,61246,61246,61246,61246,61246,61246,61246,61246,61246,61246
25,2012,62913,62913,62913,62913,62913,62913,62913,62913,62913,62913,62913,62913,62913,62913
26,2013,23019,23019,23019,23019,23019,23019,23019,23019,23019,23019,23019,23019,23019,23019
27,2014,957,957,957,957,957,957,957,957,957,957,957,957,957,957