In [1]:
# Load relevant packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as sm
import warnings

In [3]:
## load data set
carmax_df = pd.read_csv('CaseDataRemodeled.csv')

## Add Car Class (e.g. SUV)

In [4]:
import requests
from bs4 import BeautifulSoup as bsoup
    
carClass = {}
bodyStyle = ['convertible','coupe','van','truck','suv','sedan','wagon']

for style in bodyStyle:
    #assign variable for url from which we acquire html data
    search_url = 'https://www.cars.com/research/{0}/2015/?pageNum=0&rpp=120'.format(style)
                
    #use requests pack to pull dat. Headers makes it think browser and not programatic
    response = requests.get(search_url, headers={
            "User-Agent": "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36"}).content
            
    """ parse html """
    parsed_html = bsoup(response, 'lxml')
    """ initialize results list """
    my_result_list = []

    #for loop to dig into the table and create a list of lists
    for result in parsed_html.find_all('h4', class_="cui-delta"):
        results1 = result.text.split(' ', 2)
        my_result_list.append(results1[1:])

    carClass[style] = my_result_list

In [103]:
import re 
def clean_text(string,replace=''):
    regex = '[^A-Za-z0-9]+'
    return re.sub(regex, replace, string)

In [107]:
carmax_df['purchase_model'].apply(clean_text)

0         CHARGER
1            F150
2             328
3           GS300
4           CRUZE
           ...
355869    LIBERTY
355870      SONIC
355871    SORENTO
355872       350Z
355873     MALIBU
Name: purchase_model, Length: 355874, dtype: object

In [20]:
for i in carClass:
    for j in carClass[i]:
        for k in range(len(j)):
            j[k] = j[k].upper()

Mercedes-Benz has class and number <br>
Rename to just class

In [30]:
benz = np.unique(carmax_df[carmax_df['purchase_make'] == 'MERCEDES-BENZ']['purchase_model']).copy()

In [38]:
for cl in range(len(benz)):
    print(''.join(filter(str.isalpha, benz[cl])).split('AMG')[0])
    #benz[cl] =

C
C
C
C
C
C
C
C
C
C
C
CL
CL
CL
CL
CL
CLK
CLK
CLK
CLK
CLK
CLK
CLK
CLK
CLS
CLS
CLS
CLS
E
E
E
E
E
E
E
E
G
GL
GL
GL
GL
GLK
GLK
ML
ML
ML
ML
ML
R
R
R
S
S
S
S
S
S
S
S
S
SL
SL
SL
SL
SL
SLK
SLK
SLK
SLK
SLK
SLK
SLK
SPRINTER
SPRINTER
SPRINTER

In [27]:
for i in carClass:
    for j in carClass[i]:
        if j[0] == 'MERCEDES-BENZ':
            print(j[1])

E-CLASS
SL-CLASS
SLK-CLASS
SLS AMG
C-CLASS
E-CLASS
SLS AMG
SPRINTER-CLASS
M-CLASS
GL-CLASS
G-CLASS
GLA-CLASS
GLK-CLASS
S-CLASS
E-CLASS
CLA-CLASS
CLS-CLASS
E-CLASS
B-CLASS ELECTRIC DRIVE

In [86]:
purchase_class = []
for i in range(0,4):      #len(list(carmax_df['purchase_model']))):
    carType = ''
    for key, value in carClass.items():
        for style in value:
            if carmax_df['purchase_model'][i] == style[1]:
                carType = key
                break
            
    if carType == '':
        carType = 'NF'
    purchase_class.append(carType)
    
#     for j in carClass:
#         for k in carClass[j]:
#             if carmax_df['purchase_model'][i] == k[1]:
#                 purchase_class.append(j)
#                 break
#             else:
#                 purchase_class.append('NF')

In [87]:
purchase_class

['sedan', 'NF', 'wagon', 'NF']

In [55]:
carmax_df['purchase_model'][0:4]

0    CHARGER
1       F150
2        328
3     GS 300
Name: purchase_model, dtype: object

In [109]:
for i in carClass:
    for j in carClass[i]:
        if j[1] == 'F-150':
            print(i)

truck

In [67]:
for key, value in carClass.items():
    for i in value:
        print(i[1])
        print('\n')

MUSTANG


CAMARO


WRANGLER UNLIMITED


CORVETTE


WRANGLER


A3


E-CLASS


428


GRANTURISMO


F-TYPE


918 SPYDER


650S


R8


BOXSTER


S5


BEETLE


370Z


435


A5


RS 5


CALIFORNIA


SL-CLASS


M6


MARTIN DB9


AVENTADOR


MX-5 MIATA


SLK-CLASS


CONVERTIBLE


650


XK


458 SPIDER


640


Z4


FORTWO


TTS


500C


SLS AMG


FORTWO ELECTRIC DRIVE


ROMEO 4C SPIDER


MARTIN V8 VANTAGE


TT


EOS


MARTIN VANTAGE GT


IS 250C


IS 350C


ROADSTER


MUSTANG


CHALLENGER


CAMARO


CORVETTE


911


M4


C-CLASS


ACCORD


CIVIC


RC F


E-CLASS


RC 350


428


ATS


GRANTURISMO


F-TYPE


CONTINENTAL GT


CAYMAN


650S


R8


S5


FR-S


370Z


BRZ


435


228


M235


A5


RS 5


ROMEO 4C


GENESIS COUPE


458 ITALIA


M6


MARTIN DB9


AVENTADOR


TC


VELOSTER


650


XK


640


CTS-V


FORTWO


TTS


SLS AMG


FORTWO ELECTRIC DRIVE


MARTIN V8 VANTAGE


TT


MARTIN VANTAGE GT


COUPE


FORTE KOUP


SRT VIPER


SIENNA


ODYSSEY


TOWN & COUNTRY


GRAND CARAVAN


TRANSIT-350


TRANSIT-150


TRANSIT-250


SEDONA


SPRINTER-CLASS


NV200


EXPRESS 2500


QUEST


MAZDA5


CITY EXPRESS


NV PASSENGER NV3500 HD


PROMASTER 2500 WINDOW VAN


NV CARGO NV2500 HD


SAVANA 2500


CARGO


NV CARGO NV3500 HD


NV CARGO NV1500


SAVANA 3500


F-150


SILVERADO 1500


SIERRA 1500


1500


TACOMA


F-250


SILVERADO 2500HD


SIERRA 2500HD


TUNDRA


2500


COLORADO


F-350


SILVERADO 3500HD


FRONTIER


SIERRA 3500HD


CANYON


TITAN


3500


F-450


GRAND CHEROKEE


TAHOE


WRANGLER UNLIMITED


ESCALADE


YUKON


4RUNNER


SUBURBAN 1500


WRANGLER


X5


DURANGO


EXPLORER


MACAN


CHEROKEE


HIGHLANDER


RX 350


ROVER RANGE ROVER SPORT


YUKON XL 1500


RAV4


ROVER RANGE ROVER


EQUINOX


CR-V


M-CLASS


ESCAPE


ROVER RANGE ROVER EVOQUE


Q7


GL-CLASS


RENEGADE


FORESTER


EDGE


ACADIA


G-CLASS


PILOT


TERRAIN


GLA-CLASS


PATRIOT


ROGUE


COMPASS


X1


ESCALADE ESV


Q5


EXPEDITION


GLK-CLASS


JOURNEY


NAVIGATOR


NX 200T


SRX


TRAVERSE


GX 460


QX80


X6


PATHFINDER


MURANO


QX60


MDX


ENCLAVE


ROVER LR4


X3


ENCORE


MKC


SORENTO


ARMADA


CX-5


X4


SPORTAGE


LAND CRUISER


SEQUOIA


JUKE


CAYENNE


EXPEDITION EL


VENZA


XC60


XTERRA


OUTLANDER SPORT


X5 M


TRAX


Q3


COUNTRYMAN


XV CROSSTREK


RDX


ROGUE SELECT


LX 570


TUCSON


CX-9


SANTA FE SPORT


ROVER DISCOVERY SPORT


X6 M


FLEX


SQ5


TIGUAN


QX70


RX 450H


TOUAREG


HIGHLANDER HYBRID


XC70


PACEMAN


SANTA FE


QX50


NX 300H


OUTLANDER


MKT


MKX


ROVER LR2


XV CROSSTREK HYBRID


CAYENNE E-HYBRID


TOUAREG HYBRID


QX60 HYBRID


Q5 HYBRID


S-CLASS


CHARGER


ACCORD


200


ALTIMA


CIVIC


Q50


CAMRY


FUSION


A3


SONATA


E-CLASS


GS 350


DART


COROLLA


GENESIS


OPTIMA


IMPALA


JETTA


MALIBU


FOCUS


M3


CRUZE


SENTRA


IS 250


PASSAT


WRX


TLX


ATS


CLA-CLASS


328


A4


WRX STI


MAZDA6


CLS-CLASS


XJ


MAZDA3


TAURUS


MKZ


LACROSSE


Q70


300


ES 350


CTS


LANCER EVOLUTION


ELANTRA


535


750


A6


A8


FIESTA


LEGACY


S3


VERSA


XF


SONIC


XTS


IMPREZA


FORTE


S4


S8


K900


RS 7


320


M5


SS


LS 460


AVALON


S60


IS 350


528


ACCENT


Q40


LANCER


CADENZA


CC


REGAL


VERANO


550


740


S6


Q70L


AVALON HYBRID


300C


328D


ILX


OPTIMA HYBRID


ACCORD HYBRID


RIO


CAMRY HYBRID


ES 300H


MKZ HYBRID


Q50 HYBRID


FUSION HYBRID


S80


LS 600H


FUSION ENERGI


SONATA HYBRID


760


MKS


EQUUS


CIVIC HYBRID


535D


RLX


AZERA


GS 450H


JETTA HYBRID


ACTIVEHYBRID 5


ALPINA B7


ACTIVEHYBRID 7


Q70H


E-CLASS


FOCUS


328


MAZDA3


OUTBACK


SOUL


FIESTA


GOLF


SONIC


BEETLE


HARDTOP


IMPREZA


500


FORTE


JUKE


FIT


VERSA NOTE


VENZA


MIRAGE


GOLF R


COUNTRYMAN


XV CROSSTREK


VELOSTER


ACCENT


GOLF SPORTWAGEN


328 GRAN TURISMO


FOCUS ST


YARIS


SPARK


VOLT


LEAF


CT 200H


ALLROAD


S7


XB


A7


PRIUS C


XC70


328D


V60


RIO


CROSSTOUR


PRIUS V


B-CLASS ELECTRIC DRIVE


500E


500L


335 GRAN TURISMO


C-MAX ENERGI


SPARK EV


SOUL EV


535 GRAN TURISMO


C-MAX HYBRID


XV CROSSTREK HYBRID


E-GOLF


550 GRAN TURISMO


ELANTRA GT


IQ

In [98]:
from sklearn.preprocessing import StandardScaler

X = cluster_df.values[:,1:]
X = np.nan_to_num(X)
cluster_dataset = StandardScaler().fit_transform(X)
cluster_dataset

array([[-0.0700046 , -1.30434939, -0.18339136, ...,  0.05222532,
        -0.5351671 , -0.44335392],
       [-1.4758237 ,  0.0304836 ,  1.12888161, ...,  0.05222532,
        -0.5351671 , -0.44335392],
       [-1.24152051, -0.41446073, -0.18339136, ...,  0.05222532,
         1.86857526,  0.39398434],
       ...,
       [-1.3586721 , -1.30434939, -0.18339136, ...,  0.05222532,
        -0.5351671 , -0.44335392],
       [ 0.98435973,  0.47542793,  0.47274513, ...,  0.05222532,
        -0.5351671 , -0.44335392],
       [ 0.51575336,  0.92037227, -0.18339136, ...,  0.05222532,
        -0.5351671 , -0.44335392]])

Lets run model cluster

In [99]:
num_clusters = 5

k_means = KMeans(init="k-means++", n_clusters=num_clusters, n_init=12)
k_means.fit(cluster_dataset)
labels = k_means.labels_

print(labels)

[2 1 0 ... 3 1 1]

In [100]:
cluster_df["Labels"] = labels
cluster_df.head(5)

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price,trade_in,vehicle_financing,customer_age,customer_income,customer_gender,customer_previous_purchase,customer_distance_to_dealer,post_purchase_satisfaction,vehicle_warranty_used,subsequent_purchases,Labels
1,3,12,2007,1,0,0,5,0,0,1,116,10,0,0,2
2,0,0,2010,3,1,1,4,9,0,1,135,10,0,0,1
5,9,2,2009,1,1,1,2,9,2,0,127,10,1,1,0
8,3,11,2010,1,1,1,4,8,2,1,46,10,1,0,0
10,9,23,2009,0,0,1,6,7,2,0,320,10,0,1,3

In [101]:
cluster_df.groupby('Labels').mean()

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price,trade_in,vehicle_financing,customer_age,customer_income,customer_gender,customer_previous_purchase,customer_distance_to_dealer,post_purchase_satisfaction,vehicle_warranty_used,subsequent_purchases
Labels,,,,,,,,,,,,,,
0,5.435972,12.227309,2009.242654,1.178553,0.457520,0.816404,3.408619,7.738446,0.711456,0.174128,180.685228,9.998404,0.999964,0.557680
1,5.647114,12.794962,2010.274222,1.419870,0.999948,0.789698,3.558343,8.449225,0.684194,0.233895,181.605635,9.998298,0.000000,0.543469
2,5.657454,13.169120,2010.120833,1.582500,0.487824,0.818333,4.403472,0.848472,0.706019,0.323287,180.529954,9.997315,0.140694,0.514028
3,5.531020,12.403428,2009.967015,1.098597,0.000000,0.765191,3.381518,8.371401,0.724762,0.122603,183.772394,9.998424,0.000000,0.509888
4,5.775701,12.753894,2010.024922,1.102804,0.454829,0.781931,3.638629,7.124611,0.685358,0.283489,175.697819,2.024922,0.227414,0.542056