In [2]:
# Load relevant packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as sm
import warnings
from sklearn.cluster import KMeans

In [118]:
carmax_df = pd.read_csv('CaseDataRemodeled.csv')
top10_df = pd.read_csv('Top10ByIncome.csv')

In [119]:
carmax_df.drop(['insert_num','purchase_vehicle_year','subsequent_purchases','post_purchase_satisfaction','customer_previous_purchase'], axis=1, inplace=True)

In [181]:
#carmax_df.columns
#carmax_df.loc[carmax_df.groupby(['purchase_make', 'purchase_model','customer_gender'])["trade_in"].idxmax()]  
sextype = []
for i in carmax_df.groupby(['purchase_make', 'purchase_model','customer_gender']).count().index:
    sextype.append(i[2])

In [220]:
carmax_df.groupby(['purchase_make', 'purchase_model','customer_gender']).count().max(level=1)

,purchase_price_LB,purchase_price_UB,trade_in,vehicle_financing,customer_age,customer_income,customer_distance_to_dealer,vehicle_warranty_used,AgeBin,purchase_class
purchase_model,,,,,,,,,,
CL,12,12,12,12,12,12,12,12,12,12
ILX,12,12,12,12,12,12,12,12,12,12
ILX HYBRID,2,2,2,2,2,2,2,2,2,2
MDX,543,543,543,543,543,543,539,543,543,543
RDX,217,217,217,217,217,217,215,217,217,217
...,...,...,...,...,...,...,...,...,...,...
V50,30,30,30,30,30,30,30,30,30,30
V70,17,17,17,17,17,17,16,17,17,17
XC60,91,91,91,91,91,91,91,91,91,91
XC70,44,44,44,44,44,44,44,44,44,44
XC90,154,154,154,154,154,154,153,154,154,154

In [224]:
max_by_gender = carmax_df.groupby(['purchase_make', 'purchase_model','customer_gender']).count().reset_index().rename(columns={'trade_in':"count"})
max_by_gender = max_by_gender[['purchase_make', 'purchase_model','customer_gender','count']]
#max_by_gender.groupby(['purchase_make', 'purchase_model','customer_gender']).apply(lambda x: x.nlargest(1, "count")).reset_index(drop=True)
max_by_gender = max_by_gender.groupby(['purchase_model']).apply(lambda x: x.nlargest(1, "count")).reset_index(drop=True)

In [234]:
pd.set_option("display.max_rows", 20, "display.max_columns", None)

In [235]:
max_by_gender[max_by_gender['customer_gender'] == 'F']

    purchase_make purchase_model customer_gender  count
3        CHRYSLER            200               F    786
9             BMW            320               F      2
14            BMW     335 HYBRID               F      1
19           FIAT            500               F    412
27          MAZDA            626               F      2
..            ...            ...             ...    ...
611         VOLVO           XC90               F    154
612         SCION             XD               F    165
614       HYUNDAI          XG350               F     16
621        SUZUKI           XL-7               F     66
626        TOYOTA          YARIS               F    821

[164 rows x 4 columns]

In [227]:
gender_max_by

NameError: name 'gender_max_by' is not defined