In [1]:
'''Load Packages'''
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as sm
import warnings
from sklearn.cluster import KMeans 
import random
from sklearn import metrics 
from scipy.spatial.distance import cdist

In [86]:
def highlight_max(s):
    '''
    highlight the maximum in a Series yellow.
    '''
    is_max = s == s.max()
    return ['background-color: green' if v else '' for v in is_max]

In [4]:
sedan0 = pd.read_csv('clustersGrouped/sedanCluster0.csv')
sedan1 = pd.read_csv('clustersGrouped/sedanCluster1.csv')
sedan2 = pd.read_csv('clustersGrouped/sedanCluster2.csv')
sedan3 = pd.read_csv('clustersGrouped/sedanCluster3.csv')
sedan4 = pd.read_csv('clustersGrouped/sedanCluster4.csv')

Our objective in this notebook is to determine and create a profile for each of the clusters within the sedan vehicle class. There is potential for a lot of overlap with slight differentiators, however this nuances can make for a better customer marketing experience if executed right.

## Sedan0

We see that this first cluster group for sedans does not have anybody opting to finance the vehicle (below)

In [11]:
sedan0.vehicle_financing.unique()

array([0], dtype=int64)

In [18]:
sedan0.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', ascending = False)

,purchase_make,purchase_model,purchase_vehicle_year,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,made_in,job_assign,Labels
purchase_price_LB,,,,,,,,,,,
65001.0,1,1,1,1,1,1,1,1,1,1,1
60001.0,13,13,13,13,13,13,13,13,13,13,13
55001.0,23,23,23,23,23,23,23,23,23,23,23
50001.0,34,34,34,34,34,34,34,34,34,34,34
45001.0,111,111,111,111,111,111,111,111,111,111,111
40001.0,147,147,147,147,147,147,147,147,147,147,147
35001.0,291,291,291,291,291,291,291,291,291,291,291
30001.0,727,727,727,727,727,727,727,727,727,727,727
25001.0,2035,2035,2035,2035,2035,2035,2035,2035,2035,2035,2035
20001.0,4308,4308,4308,4308,4308,4308,4308,4308,4308,4308,4308
15001.0,8701,8701,8701,8701,8701,8701,8701,8701,8701,8701,8701
10001.0,8765,8765,8765,8765,8765,8765,8765,8765,8765,8765,8765
5001.0,835,835,835,835,835,835,835,835,835,835,835

Want to calculate the weighted average for purchase price

In [62]:
sedan0avgPurch = np.dot(sedan0.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).purchase_make.values,
       sedan0.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).index) / len(sedan0)

print(f'The weighted purchase_price_LB for sedan0 is ${sedan0avgPurch}')

The weighted purchase_price_LB for sedan0 is $15623.907929667963

Next, we will investigate the counts of purchase_make and purchase_model to see if their is a skewness towards one or both of them.

In [43]:
sedan0.groupby('purchase_model').count().sort_values(by='purchase_price_LB', ascending = False)

,purchase_make,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,made_in,job_assign,Labels
purchase_model,,,,,,,,,,,
ALTIMA,1915,1915,1915,1915,1915,1915,1915,1915,1915,1915,1915
CAMRY,1904,1904,1904,1904,1904,1904,1904,1904,1904,1904,1904
COROLLA,1252,1252,1252,1252,1252,1252,1252,1252,1252,1252,1252
MALIBU,995,995,995,995,995,995,995,995,995,995,995
FUSION,977,977,977,977,977,977,977,977,977,977,977
...,...,...,...,...,...,...,...,...,...,...,...
335 HYBRID,1,1,1,1,1,1,1,1,1,1,1
S600,1,1,1,1,1,1,1,1,1,1,1
S65 AMG,1,1,1,1,1,1,1,1,1,1,1
ALERO,1,1,1,1,1,1,1,1,1,1,1
AURA HYBRID,1,1,1,1,1,1,1,1,1,1,1

In [63]:
sedan0.groupby('purchase_make').count().sort_values(by='purchase_price_LB', ascending = False)

,purchase_model,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,made_in,job_assign,Labels
purchase_make,,,,,,,,,,,
NISSAN,4029,4029,4029,4029,4029,4029,4029,4029,4029,4029,4029
TOYOTA,3536,3536,3536,3536,3536,3536,3536,3536,3536,3536,3536
FORD,2668,2668,2668,2668,2668,2668,2668,2668,2668,2668,2668
CHEVROLET,2592,2592,2592,2592,2592,2592,2592,2592,2592,2592,2592
BMW,1631,1631,1631,1631,1631,1631,1631,1631,1631,1631,1631
VOLKSWAGEN,1371,1371,1371,1371,1371,1371,1371,1371,1371,1371,1371
LEXUS,1325,1325,1325,1325,1325,1325,1325,1325,1325,1325,1325
INFINITI,1166,1166,1166,1166,1166,1166,1166,1166,1166,1166,1166
MAZDA,1121,1121,1121,1121,1121,1121,1121,1121,1121,1121,1121
DODGE,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
CHRYSLER,874,874,874,874,874,874,874,874,874,874,874
CADILLAC,614,614,614,614,614,614,614,614,614,614,614
ACURA,608,608,608,608,608,608,608,608,608,608,608
HONDA,503,503,503,503,503,503,503,503,503,503,503
BUICK,480,480,480,480,480,480,480,480,480,480,480
LINCOLN,435,435,435,435,435,435,435,435,435,435,435
AUDI,370,370,370,370,370,370,370,370,370,370,370
SUBARU,319,319,319,319,319,319,319,319,319,319,319
MERCURY,292,292,292,292,292,292,292,292,292,292,292
MITSUBISHI,227,227,227,227,227,227,227,227,227,227,227
MERCEDES-BENZ,207,207,207,207,207,207,207,207,207,207,207
VOLVO,196,196,196,196,196,196,196,196,196,196,196
PONTIAC,170,170,170,170,170,170,170,170,170,170,170
JAGUAR,97,97,97,97,97,97,97,97,97,97,97
SATURN,76,76,76,76,76,76,76,76,76,76,76
SUZUKI,66,66,66,66,66,66,66,66,66,66,66
PORSCHE,11,11,11,11,11,11,11,11,11,11,11
SAAB,5,5,5,5,5,5,5,5,5,5,5
OLDSMOBILE,2,2,2,2,2,2,2,2,2,2,2

Approximately half of the observations were manufactured in Japan (might not be special) (below)

In [21]:
sedan0.groupby('made_in').count().sort_values(by='purchase_price_LB', ascending = False)

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,job_assign,Labels
made_in,,,,,,,,,,,
JAPAN,12900,12900,12900,12900,12900,12900,12900,12900,12900,12900,12900
UNITED STATES,9203,9203,9203,9203,9203,9203,9203,9203,9203,9203,9203
GERMANY,3590,3590,3590,3590,3590,3590,3590,3590,3590,3590,3590
SWEDEN,201,201,201,201,201,201,201,201,201,201,201
UNITED KINGDOM,97,97,97,97,97,97,97,97,97,97,97

In [25]:
## Average customer income?
sedan0.groupby('customer_income').count().sort_values(by='purchase_price_LB', ascending = False)
## Eish not good -> more than half income unaccounted for

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_gender,AgeBin,made_in,job_assign,Labels
customer_income,,,,,,,,,,,
?,13710,13710,13710,13710,13710,13710,13710,13710,13710,13710,13710
20001 - 40000,3239,3239,3239,3239,3239,3239,3239,3239,3239,3239,3239
0 - 20000,2889,2889,2889,2889,2889,2889,2889,2889,2889,2889,2889
40001 - 60000,2851,2851,2851,2851,2851,2851,2851,2851,2851,2851,2851
60001 - 80000,1322,1322,1322,1322,1322,1322,1322,1322,1322,1322,1322
80001 - 100000,847,847,847,847,847,847,847,847,847,847,847
200001+,333,333,333,333,333,333,333,333,333,333,333
100001 - 120000,233,233,233,233,233,233,233,233,233,233,233
120001 - 140000,232,232,232,232,232,232,232,232,232,232,232
140001 - 160000,165,165,165,165,165,165,165,165,165,165,165
160001 - 180000,133,133,133,133,133,133,133,133,133,133,133
180001 - 200000,37,37,37,37,37,37,37,37,37,37,37

## Sedan1

In [22]:
sedan0.vehicle_financing.unique()

array([0], dtype=int64)

Also nonody financing

In [27]:
sedan1.groupby('made_in').count().sort_values(by='purchase_price_LB', ascending = False)

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,job_assign,Labels
made_in,,,,,,,,,,,
JAPAN,20926,20926,20926,20926,20926,20926,20926,20926,20926,20926,20926
UNITED STATES,9806,9806,9806,9806,9806,9806,9806,9806,9806,9806,9806
SWEDEN,324,324,324,324,324,324,324,324,324,324,324
GERMANY,66,66,66,66,66,66,66,66,66,66,66

MADE IN JAPAN

## Sedan2

In [28]:
sedan2.groupby('made_in').count().sort_values(by='purchase_price_LB', ascending = False)

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,job_assign,Labels
made_in,,,,,,,,,,,
JAPAN,12719,12719,12719,12719,12719,12719,12719,12719,12719,12719,12719
UNITED STATES,8478,8478,8478,8478,8478,8478,8478,8478,8478,8478,8478
GERMANY,7603,7603,7603,7603,7603,7603,7603,7603,7603,7603,7603
UNITED KINGDOM,260,260,260,260,260,260,260,260,260,260,260
SWEDEN,172,172,172,172,172,172,172,172,172,172,172
SOUTH KOREA,12,12,12,12,12,12,12,12,12,12,12

In [31]:
sedan3.groupby('made_in').count().sort_values(by='purchase_price_LB', ascending = False)

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,job_assign,Labels
made_in,,,,,,,,,,,
UNITED STATES,23482,23482,23482,23482,23482,23482,23482,23482,23482,23482,23482
JAPAN,20256,20256,20256,20256,20256,20256,20256,20256,20256,20256,20256
GERMANY,6253,6253,6253,6252,6253,6253,6253,6253,6253,6253,6253
SWEDEN,5,5,5,5,5,5,5,5,5,5,5
UNITED KINGDOM,3,3,3,3,3,3,3,3,3,3,3

## Sedan3

In [32]:
sedan4.groupby('made_in').count().sort_values(by='purchase_price_LB', ascending = False)

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,job_assign,Labels
made_in,,,,,,,,,,,
SOUTH KOREA,14606,14606,14606,14606,14606,14606,14606,14606,14606,14606,14606
UNITED KINGDOM,126,126,126,126,126,126,126,126,126,126,126
ITALY,2,2,2,2,2,2,2,2,2,2,2

## Sedan4

In [116]:
avg_PP_0 = np.dot(sedan0.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).purchase_make.values,
       sedan0.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).index) / len(sedan0)

avg_PP_1 = np.dot(sedan1.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).purchase_make.values,
       sedan1.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).index) / len(sedan1)

avg_PP_2 = np.dot(sedan2.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).purchase_make.values,
       sedan2.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).index) / len(sedan2)

avg_PP_3 = np.dot(sedan3.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).purchase_make.values,
       sedan3.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).index) / len(sedan3)

avg_PP_4 = np.dot(sedan4.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).purchase_make.values,
       sedan4.groupby('purchase_price_LB').count().sort_values(by='purchase_price_LB', 
                                                               ascending = False).index) / len(sedan4)

#print(f'The weighted purchase_price_LB for sedan0 is ${sedan0avgPurch}')

weightedPP = pd.DataFrame({
                'sedan0':[avg_PP_0],
                'sedan1':[avg_PP_1],
                'sedan2':[avg_PP_2],
                'sedan3':[avg_PP_3],
                'sedan4':[avg_PP_4],
             })
weightedPP.rename(index={0: "Weighted Purchase_Price_LB"}, inplace = True)
weightedPP.index.name = ''
weightedPP

,sedan0,sedan1,sedan2,sedan3,sedan4
,,,,,
Weighted Purchase_Price_LB,15623.90793,13244.846796,19598.182328,12991.159783,13682.620741

### Purchase_make

In [93]:
pd.concat([sedan0.groupby('purchase_make').count().rename(columns={'trade_in':"sedan0"})[['sedan0']],
           sedan1.groupby('purchase_make').count().rename(columns={'trade_in':"sedan1"})[['sedan1']],
          sedan2.groupby('purchase_make').count().rename(columns={'trade_in':"sedan2"})[['sedan2']],
          sedan3.groupby('purchase_make').count().rename(columns={'trade_in':"sedan3"})[['sedan3']],
          sedan4.groupby('purchase_make').count().rename(columns={'trade_in':"sedan4"})[['sedan4']]],axis=1).fillna(0).style.apply(highlight_max).format(int)

### Purchase_Model

In [94]:
pd.concat([sedan0.groupby('purchase_model').count().rename(columns={'trade_in':"sedan0"})[['sedan0']],
           sedan1.groupby('purchase_model').count().rename(columns={'trade_in':"sedan1"})[['sedan1']],
          sedan2.groupby('purchase_model').count().rename(columns={'trade_in':"sedan2"})[['sedan2']],
          sedan3.groupby('purchase_model').count().rename(columns={'trade_in':"sedan3"})[['sedan3']],
          sedan4.groupby('purchase_model').count().rename(columns={'trade_in':"sedan4"})[['sedan4']]],axis=1).fillna(0).style.apply(highlight_max).format(int)

### Customer_Income

In [97]:
pd.concat([sedan0.groupby('customer_income').count().rename(columns={'trade_in':"sedan0"})[['sedan0']],
           sedan1.groupby('customer_income').count().rename(columns={'trade_in':"sedan1"})[['sedan1']],
          sedan2.groupby('customer_income').count().rename(columns={'trade_in':"sedan2"})[['sedan2']],
          sedan3.groupby('customer_income').count().rename(columns={'trade_in':"sedan3"})[['sedan3']],
          sedan4.groupby('customer_income').count().rename(columns={'trade_in':"sedan4"})[['sedan4']]],axis=1).fillna(0).style.apply(highlight_max).format(int)

### Customer_Gender

In [100]:
pd.concat([sedan0.groupby('customer_gender').count().rename(columns={'trade_in':"sedan0"})[['sedan0']],
           sedan1.groupby('customer_gender').count().rename(columns={'trade_in':"sedan1"})[['sedan1']],
          sedan2.groupby('customer_gender').count().rename(columns={'trade_in':"sedan2"})[['sedan2']],
          sedan3.groupby('customer_gender').count().rename(columns={'trade_in':"sedan3"})[['sedan3']],
          sedan4.groupby('customer_gender').count().rename(columns={'trade_in':"sedan4"})[['sedan4']]],axis=1).fillna(0).style.apply(highlight_max).format(int)

### Made_In

In [123]:
pd.concat([sedan0.groupby('made_in').count().rename(columns={'trade_in':"sedan0"})[['sedan0']],
           sedan1.groupby('made_in').count().rename(columns={'trade_in':"sedan1"})[['sedan1']],
          sedan2.groupby('made_in').count().rename(columns={'trade_in':"sedan2"})[['sedan2']],
          sedan3.groupby('made_in').count().rename(columns={'trade_in':"sedan3"})[['sedan3']],
          sedan4.groupby('made_in').count().rename(columns={'trade_in':"sedan4"})[['sedan4']]],axis=1).fillna(0).style.apply(highlight_max).format(int)

### Trade_In

In [118]:
pd.concat([sedan0.groupby('trade_in').count().rename(columns={'made_in':"sedan0"})[['sedan0']],
           sedan1.groupby('trade_in').count().rename(columns={'made_in':"sedan1"})[['sedan1']],
          sedan2.groupby('trade_in').count().rename(columns={'made_in':"sedan2"})[['sedan2']],
          sedan3.groupby('trade_in').count().rename(columns={'made_in':"sedan3"})[['sedan3']],
          sedan4.groupby('trade_in').count().rename(columns={'made_in':"sedan4"})[['sedan4']]],axis=1).fillna(0).style.apply(highlight_max).format(int)

### Finance

In [119]:
pd.concat([sedan0.groupby('vehicle_financing').count().rename(columns={'made_in':"sedan0"})[['sedan0']],
           sedan1.groupby('vehicle_financing').count().rename(columns={'made_in':"sedan1"})[['sedan1']],
          sedan2.groupby('vehicle_financing').count().rename(columns={'made_in':"sedan2"})[['sedan2']],
          sedan3.groupby('vehicle_financing').count().rename(columns={'made_in':"sedan3"})[['sedan3']],
          sedan4.groupby('vehicle_financing').count().rename(columns={'made_in':"sedan4"})[['sedan4']]],axis=1).fillna(0).style.apply(highlight_max).format(int)

### Age

In [122]:
pd.concat([sedan0.groupby('AgeBin').count().rename(columns={'made_in':"sedan0"})[['sedan0']],
           sedan1.groupby('AgeBin').count().rename(columns={'made_in':"sedan1"})[['sedan1']],
          sedan2.groupby('AgeBin').count().rename(columns={'made_in':"sedan2"})[['sedan2']],
          sedan3.groupby('AgeBin').count().rename(columns={'made_in':"sedan3"})[['sedan3']],
          sedan4.groupby('AgeBin').count().rename(columns={'made_in':"sedan4"})[['sedan4']]],axis=1).fillna(0).style.apply(highlight_max).format(int)

<em>k</em>-means will partition your customers into three groups since we specified the algorithm to generate 3 clusters. The customers in each cluster are similar to each other in terms of the features included in the dataset.

Now we can create a profile for each group, considering the common characteristics of each cluster. 
For example, the 3 clusters can be:

    0. - Twenties to Thirties or Forties and Fifties
       - Majority Customer Income Unkown "?"
       - No Financing
       - Majority Male
       - Made in Japan and U.S.
       - More likely to not trade in a vehicle 

    1. - Twenties to Thirties or Forties to Fifties
       - Majority Income between $20k - $60k
       - Finance 
       - Unisex
       - 2/3 in made in Japan and 1/3 in U.S.
       - More likely to not trade in a vehicle
        
    2. - Thirties to Forties 
       - Income between $60k - $80k
       - Finance
       - Male
       - Germany + U.S and Japan
       - More likely to trade in a vehicle
   
    3. - Thirties and Twenties
       - Income $0 - $60k
       - Finance 
       - Female
       - U.S. Japan and some Germany
       - More likely to not trade in
       
    4. - Downwards trend from twenties to sixties 
       - $20k - $60k
       - Finance
       - Unisex
       - Made in South Korea
       - More likely to trade in