In [1]:
'''Load Packages'''
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as sm
import warnings
from sklearn.cluster import KMeans 
import random
from sklearn import metrics 
from scipy.spatial.distance import cdist

In [2]:
# function to transform into numerical bins by normal/gaussian distribution
def categorical_transform(col):
    classnames, factorval, rank = np.unique(col, return_inverse = True,return_counts = True)
    
      
    temp = np.sort(rank)
    temp = np.concatenate((temp[::2], temp[1::2][::-1]))
    rank = random.sample(range(1, len(temp)+1),len(temp))
    
    category_count = {}
    for i in range(len(classnames)):
        category_count[classnames[i]] = rank[i]
    
    check_list = list(col)
    for i in range(len(check_list)):
        for key, value in category_count.items():
            if check_list[i] == key:
                factorval[i] = value 
                break
    
    return category_count, factorval

In [3]:
def cat_to_names(df,references):
    ref = df.columns[df.columns.isin(references.keys())].to_list()
    temp_df = df.copy()
    for key in ref:
        vals = references[key]
        for label_key in vals.keys():
            temp_df[key] = temp_df[key].replace(vals[label_key],label_key)
    return temp_df

In [4]:
## load data set
carmax_df = pd.read_csv('CaseDataRemodeled.csv')
new_df = pd.read_csv('newdata.csv')

In [5]:
carmax_df['job_assign'] = new_df['job_assign']

In [6]:
cluster_df = carmax_df.copy().drop(['customer_age','customer_previous_purchase','customer_distance_to_dealer',
                             'post_purchase_satisfaction','vehicle_warranty_used','subsequent_purchases',
                             'purchase_price_UB','purchase_class'], axis=1)

In [7]:
## references of transformation for later 
references = {}

# transform to numerical values 
for i in cluster_df.columns:
    if cluster_df[i].dtype == 'object':
        classes = cluster_df[i]
        references[i], cluster_df[i] = categorical_transform(classes)

In [8]:
cluster_df['purchase_class'] = carmax_df['purchase_class']

In [9]:
sedan = cluster_df[cluster_df.purchase_class=='sedan'].copy().reset_index(drop = True).drop('purchase_class', axis = 1)
truck = cluster_df[cluster_df.purchase_class=='truck'].copy().reset_index(drop = True).drop('purchase_class', axis = 1)
suv = cluster_df[cluster_df.purchase_class=='suv'].copy().reset_index(drop = True).drop('purchase_class', axis = 1)
wagon = cluster_df[cluster_df.purchase_class=='wagon'].copy().reset_index(drop = True).drop('purchase_class', axis = 1)
van = cluster_df[cluster_df.purchase_class=='van'].copy().reset_index(drop = True).drop('purchase_class', axis = 1)
coupe = cluster_df[cluster_df.purchase_class=='coupe'].copy().reset_index(drop = True).drop('purchase_class', axis = 1)
convertible = cluster_df[cluster_df.purchase_class=='convertible'].copy().reset_index(drop = True).drop('purchase_class', axis = 1)

vehicle_classes = [sedan,truck,suv,wagon,van,coupe,convertible]

### Elbow Method to determine k for each cluster of vehicle class

In [14]:
# vehicle_classes_name = ['sedan','truck','suv','wagon','van','coupe','convertible']
# index = 0

# for group in vehicle_classes:
    
#     distortions = [] 
#     inertias = []  
#     mapping2 = {} 
#     K = range(1,15) 

#     X = group.values[:,:]
#     X = np.nan_to_num(X)
#     cluster_dataset = StandardScaler().fit_transform(X)
#     cluster_dataset
    
#     for k in K: 

#         #Building and fitting the model 
#         kmeanModel = KMeans(init="k-means++", n_clusters=k, n_init=50)
#         kmeanModel.fit(cluster_dataset)     
      
#         distortions.append(sum(np.min(cdist(cluster_dataset, kmeanModel.cluster_centers_, 
#                       'euclidean'),axis=1)) / cluster_dataset.shape[0]) 
#         inertias.append(kmeanModel.inertia_) 
  
#         mapping1[k] = sum(np.min(cdist(cluster_dataset, kmeanModel.cluster_centers_, 
#                  'euclidean'),axis=1)) / cluster_dataset.shape[0] 
#         mapping2[k] = kmeanModel.inertia_ 
    
#     print(vehicle_classes_name[index])
#     index += 1
    
#     for key,val in mapping1.items(): 
#         print(str(key)+' : '+str(val)) 
        
#     plt.plot(K, distortions, 'bx-') 
#     plt.xlabel('Values of K') 
#     plt.ylabel('Distortion') 
#     plt.title('The Elbow Method using Distortion') 
#     plt.show() 
    
#     for key,val in mapping2.items(): 
#         print(str(key)+' : '+str(val)) 
    
#     plt.plot(K, inertias, 'bx-') 
#     plt.xlabel('Values of K') 
#     plt.ylabel('Inertia') 
#     plt.title('The Elbow Method using Inertia') 
#     plt.show()

In [15]:
from sklearn.preprocessing import StandardScaler

k_values = [5,5,6,6,5,6,6]
index = 0

for group in vehicle_classes:
    X = group.values[:,:]
    X = np.nan_to_num(X)
    cluster_dataset = StandardScaler().fit_transform(X)
    cluster_dataset

    num_clusters = k_values[index]
    index += 1

    k_means = KMeans(init="k-means++", n_clusters=num_clusters, n_init=50,algorithm = "elkan")
    k_means.fit(cluster_dataset)
    labels = k_means.labels_
    group["Labels"] = labels

In [16]:
sedanCluster = cluster_with_names = cat_to_names(sedan,references)
truckCluster = cluster_with_names = cat_to_names(truck,references)
suvCluster = cluster_with_names = cat_to_names(suv,references)
wagonCluster = cluster_with_names = cat_to_names(wagon,references)
vanCluster = cluster_with_names = cat_to_names(van,references)
coupeCluster = cluster_with_names = cat_to_names(coupe,references)
convertibleCluster = cluster_with_names = cat_to_names(convertible,references)

In [17]:
truckCluster

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,made_in,job_assign,Labels
0,FORD,F150,2007,15001.0,0,0,0 - 20000,F,Fifties,UNITED STATES,"Entertainers and Performers, Sports and Relate...",1
1,NISSAN,FRONTIER,2012,20001.0,0,1,20001 - 40000,M,Twenties,JAPAN,Bakers,4
2,FORD,F150,2006,15001.0,0,1,40001 - 60000,U,Twenties,UNITED STATES,Glaziers,2
3,TOYOTA,TUNDRA,2009,20001.0,1,1,60001 - 80000,M,Thirties,JAPAN,First-Line Supervisors of Construction Trades ...,4
4,NISSAN,FRONTIER,2009,20001.0,0,1,40001 - 60000,F,Twenties,JAPAN,Real Estate Sales Agents,4
...,...,...,...,...,...,...,...,...,...,...,...,...
28762,TOYOTA,TUNDRA,2004,15001.0,0,1,40001 - 60000,M,Thirties,JAPAN,Exercise Physiologists,4
28763,CHEVROLET,SILVERADO 1500,2011,20001.0,0,1,40001 - 60000,F,Twenties,UNITED STATES,"Carpet, Floor, and Tile Installers and Finishers",0
28764,FORD,F150,2009,20001.0,1,1,100001 - 120000,M,Forties,UNITED STATES,Sales Engineers,3
28765,TOYOTA,TACOMA,2007,15001.0,0,1,20001 - 40000,M,Twenties,JAPAN,"Cutters and Trimmers, Hand",4
28766,FORD,RANGER,2010,10001.0,0,0,?,U,Twenties,UNITED STATES,Electrical Power-Line Installers and Repairers,1

In [18]:
truckCluster[truckCluster.Labels==0].groupby('purchase_model').count().sort_values(by='purchase_make', ascending = False)
#cluster_df.groupby('Labels').mean()

,purchase_make,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,made_in,job_assign,Labels
purchase_model,,,,,,,,,,,
SILVERADO 1500,3747,3747,3747,3747,3747,3747,3747,3747,3747,3747,3747
SIERRA 1500,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312
AVALANCHE 1500,578,578,578,578,578,578,578,578,578,578,578
SILVERADO 2500,70,70,70,70,70,70,70,70,70,70,70
CANYON,54,54,54,54,54,54,54,54,54,54,54
MARK LT,33,33,33,33,33,33,33,33,33,33,33
SONOMA,18,18,18,18,18,18,18,18,18,18,18
SILVERADO 1500 HD,13,13,13,13,13,13,13,13,13,13,13
L200,10,10,10,10,10,10,10,10,10,10,10
RAM 5500,1,1,1,1,1,1,1,1,1,1,1

In [19]:
truck.groupby('Labels').mean()

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,made_in,job_assign
Labels,,,,,,,,,,,
0,34.883310,547.123544,2008.687800,18422.007539,0.425291,0.771933,4.273132,2.086532,6.119945,2.000000,520.131254
1,17.003285,204.879175,2008.813652,18184.975178,0.413944,0.000000,3.593721,2.074284,6.210805,2.384194,513.984851
2,23.655317,182.735392,2007.379887,14707.391574,0.394027,0.997114,3.827875,2.108642,6.108065,2.000144,521.935651
3,20.312773,245.136652,2010.914320,28269.544228,0.683856,0.895478,7.585085,2.056327,6.028163,2.052360,457.542443
4,12.611790,196.727505,2008.520533,18155.772769,0.491513,1.000000,4.886111,2.108779,6.116262,3.000000,502.368498

In [20]:
truckCluster.groupby('Labels').agg(lambda x: pd.Series.mode(x)[0])

,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,trade_in,vehicle_financing,customer_income,customer_gender,AgeBin,made_in,job_assign
Labels,,,,,,,,,,,
0,CHEVROLET,SILVERADO 1500,2011,20001.0,0,1,40001 - 60000,M,Forties,UNITED STATES,General Internal Medicine Physicians
1,FORD,F150,2010,15001.0,0,0,?,M,Forties,UNITED STATES,General Internal Medicine Physicians
2,FORD,RAM 1500,2008,15001.0,0,1,40001 - 60000,M,Forties,UNITED STATES,General Internal Medicine Physicians
3,FORD,F150,2012,25001.0,1,1,60001 - 80000,M,Forties,UNITED STATES,"Physicians, All Other; and Ophthalmologists, E..."
4,TOYOTA,TACOMA,2007,15001.0,0,1,40001 - 60000,M,Forties,JAPAN,"Physicians, All Other; and Ophthalmologists, E..."

In [21]:
sorted(references['purchase_model'].items(), key=lambda x: x[1])

[('C350', 1),
 ('MONTANA', 2),
 ('300', 3),
 ('5-Sep', 4),
 ('SUNFIRE', 5),
 ('GALANT', 6),
 ('CC', 7),
 ('ALTIMA', 8),
 ('X6 HYBRID', 9),
 ('VERSA NOTE', 10),
 ('LUCERNE', 11),
 ('300M', 12),
 ('ACCORD', 13),
 ('L300', 14),
 ('STS', 15),
 ('i-280', 16),
 ('E55 AMG', 17),
 ('S55 AMG', 18),
 ('BONNEVILLE', 19),
 ('TAHOE', 20),
 ('M5', 21),
 ('G500', 22),
 ('CLS550', 23),
 ('CL550', 24),
 ('ESCALADE HYBRID', 25),
 ('VUE HYBRID', 26),
 ('RODEO', 27),
 ('CADENZA', 28),
 ('C/V', 29),
 ('NV 2500', 30),
 ('NAVIGATOR', 31),
 ('SILVERADO 3500', 32),
 ('E320', 33),
 ('C320', 34),
 ('SLK55 AMG', 35),
 ('VERONA', 36),
 ('SUBURBAN 1500', 37),
 ('IMPALA', 38),
 ('SEDONA', 39),
 ('SL55 AMG', 40),
 ('CONTINENTAL GT', 41),
 ('XK8', 42),
 ('VENZA', 43),
 ('NAVIGATOR L', 44),
 ('C70', 45),
 ('HIGHLANDER HYBRID', 46),
 ('G25', 47),
 ('ECLIPSE', 48),
 ('E350', 49),
 ('9-2X', 50),
 ('AVALON', 51),
 ('MALIBU CLASSIC', 52),
 ('Z4', 53),
 ('MONTE CARLO', 54),
 ('OUTBACK', 55),
 ('SLK250', 56),
 ('COOPER', 57),
 ('RENO', 58),
 ('ACCORD HYBRID', 59),
 ('S-10', 60),
 ('E300', 61),
 ('RAM 1500', 62),
 ('GLK350', 63),
 ('PRIUS V', 64),
 ('FRONTIER', 65),
 ('TAURUS X', 66),
 ('320', 67),
 ('RAM C/V', 68),
 ('ENCLAVE', 69),
 ('GS 460', 70),
 ('370Z', 71),
 ('MAGNUM SRT-8', 72),
 ('GRAND PRIX', 73),
 ('SL2', 74),
 ('FIVE HUNDRED', 75),
 ('TOWN AND COUNTRY', 76),
 ('G3', 77),
 ('SL', 78),
 ('LIBERTY', 79),
 ('MARAUDER', 80),
 ('BORREGO', 81),
 ('SIERRA 3500', 82),
 ('EUROVAN', 83),
 ('LX 570', 84),
 ('B4000', 85),
 ('MILAN', 86),
 ('SSR', 87),
 ('SUBURBAN 2500', 88),
 ('TAURUS', 89),
 ('AVALON HYBRID', 90),
 ('SLK320', 91),
 ('ASCENDER EXT', 92),
 ('LS 430', 93),
 ('SC 430', 94),
 ('PASSAT', 95),
 ('ROUTAN', 96),
 ('CHALLENGER', 97),
 ('C32 AMG', 98),
 ('QX60', 99),
 ('ALTIMA HYBRID', 100),
 ('SILVERADO CLASSIC', 101),
 ('E430', 102),
 ('CLK63 AMG', 103),
 ('VOLT', 104),
 ('CL500', 105),
 ('R350', 106),
 ('S600', 107),
 ('E63 AMG', 108),
 ('ESCALADE', 109),
 ('SONATA', 110),
 ('G6', 111),
 ('FR-S', 112),
 ('RX 350', 113),
 ('CROSSFIRE', 114),
 ('COMMANDER', 115),
 ('ESCAPE', 116),
 ('SLK280', 117),
 ('750 HYBRID', 118),
 ('V70', 119),
 ('SPRINTER 2500', 120),
 ('COLORADO', 121),
 ('SIERRA 2500', 122),
 ('TUNDRA', 123),
 ('XV CROSSTREK', 124),
 ('PROTEGE5', 125),
 ('YUKON XL 1500', 126),
 ('LANCER', 127),
 ('ECHO', 128),
 ('SIERRA 1500 HD', 129),
 ('RAM 2500', 130),
 ('TIGUAN', 131),
 ('TORRENT', 132),
 ('ATS', 133),
 ('RANGER', 134),
 ('CALIBER SRT-4', 135),
 ('CLS63 AMG', 136),
 ('MALIBU HYBRID', 137),
 ('PANAMERA', 138),
 ('i-350', 139),
 ('i-MIEV', 140),
 ('B9 TRIBECA', 141),
 ('CLK430', 142),
 ('335', 143),
 ('300 C SRT', 144),
 ('EQUINOX', 145),
 ('SL1', 146),
 ('SPECTRA5', 147),
 ('LEGACY', 148),
 ('CHARGER', 149),
 ('RAM 3500', 150),
 ('CX-5', 151),
 ('NITRO', 152),
 ('ES 300', 153),
 ('LEAF', 154),
 ('MATRIX', 155),
 ('A7', 156),
 ('Q45', 157),
 ('SC1', 158),
 ('F250', 159),
 ('ACCORD CROSSTOUR', 160),
 ('H2', 161),
 ('3-Sep', 162),
 ('SRX', 163),
 ('OPTIMA', 164),
 ('CL63 AMG', 165),
 ('FORENZA', 166),
 ('R32', 167),
 ('YUKON', 168),
 ('GS 350', 169),
 ('SEVILLE', 170),
 ('TRAILBLAZER', 171),
 ('GX 460', 172),
 ('FX50', 173),
 ('COBALT', 174),
 ('650', 175),
 ('EXPEDITION EL', 176),
 ('AMANTI', 177),
 ('545', 178),
 ('Q7', 179),
 ('MX-5 MIATA', 180),
 ('RAM SRT 10', 181),
 ('EXPEDITION', 182),
 ('FLEX', 183),
 ('RAINIER', 184),
 ('ML63 AMG', 185),
 ('RAV4', 186),
 ('645', 187),
 ('MAZDA2', 188),
 ('DIAMANTE', 189),
 ('S350', 190),
 ('S65 AMG', 191),
 ('MURANO CROSS CABRIOLET', 192),
 ('FREESTAR', 193),
 ('A3', 194),
 ('XC60', 195),
 ('PATHFINDER', 196),
 ('IQ', 197),
 ('C300', 198),
 ('JUKE', 199),
 ('EQUATOR', 200),
 ('MAZDA3', 201),
 ('TT', 202),
 ('PRIUS', 203),
 ('ENDEAVOR', 204),
 ('626', 205),
 ('TRIBUTE', 206),
 ('RANGE ROVER SPORT', 207),
 ('300ZX', 208),
 ('TOWN CAR', 209),
 ('SUPRA', 210),
 ('CAYENNE', 211),
 ('C-MAX', 212),
 ('ENTOURAGE', 213),
 ('NV 1500', 214),
 ('RX 330', 215),
 ('VILLAGER', 216),
 ('CIVIC HYBRID', 217),
 ('F350', 218),
 ('TRAILBLAZER EXT', 219),
 ('535', 220),
 ('SL600', 221),
 ('SIERRA CLASSIC', 222),
 ('SLK300', 223),
 ('CAVALIER', 224),
 ('AVALANCHE 2500', 225),
 ('740', 226),
 ('ALERO', 227),
 ('SAFARI', 228),
 ('EDGE', 229),
 ('ES 330', 230),
 ('SILVERADO HYBRID', 231),
 ('TACOMA', 232),
 ('RIO', 233),
 ('YARIS', 234),
 ('CR-V', 235),
 ('FORESTER', 236),
 ('QX4', 237),
 ('SC2', 238),
 ('528', 239),
 ('500', 240),
 ('GL350', 241),
 ('XTS', 242),
 ('RL', 243),
 ('ASTRO', 244),
 ('LR4', 245),
 ('CRUZE', 246),
 ('CROSSFIRE SRT-6', 247),
 ('MAZDA5', 248),
 ('AZERA', 249),
 ('RX 400H', 250),
 ('DURANGO', 251),
 ('DAKOTA', 252),
 ('OUTLOOK', 253),
 ('C280', 254),
 ('S2000', 255),
 ('CLK350', 256),
 ('ENVOY', 257),
 ('GTI', 258),
 ('NEON', 259),
 ('G35', 260),
 ('ODYSSEY', 261),
 ('A4', 262),
 ('X6', 263),
 ('TRIBECA', 264),
 ('IS 300', 265),
 ('GL550', 266),
 ('FIREBIRD', 267),
 ('C230', 268),
 ('TOUAREG', 269),
 ('TTS', 270),
 ('DTS', 271),
 ('S5', 272),
 ('JX35', 273),
 ('AERIO', 274),
 ('ASPEN HYBRID', 275),
 ('B2300', 276),
 ('EX35', 277),
 ('EXPRESS 2500', 278),
 ('1M', 279),
 ('PRIUS C', 280),
 ('SPRINTER 3500', 281),
 ('EOS', 282),
 ('XC90', 283),
 ('M35H', 284),
 ('BEETLE', 285),
 ('ELANTRA', 286),
 ('TAHOE HYBRID', 287),
 ('640 B640', 288),
 ('CAMARO', 289),
 ('CUBE', 290),
 ('COROLLA', 291),
 ('F150 HERITAGE', 292),
 ('FJ CRUISER', 293),
 ('SOUL', 294),
 ('330', 295),
 ('ILX', 296),
 ('LS 460', 297),
 ('THUNDERBIRD', 298),
 ('CLK500', 299),
 ('750', 300),
 ('CTS', 301),
 ('EX37', 302),
 ('OUTLANDER SPORT', 303),
 ('ALPINA B7', 304),
 ('COMPASS', 305),
 ('MAZDA6', 306),
 ('SOLSTICE', 307),
 ('G5', 308),
 ('MILAN HYBRID', 309),
 ('CLK320', 310),
 ('SEBRING', 311),
 ('ARMADA', 312),
 ('MARINER', 313),
 ('EXCURSION', 314),
 ('XG350', 315),
 ('CELICA', 316),
 ('F150', 317),
 ('GL450', 318),
 ('CLS500', 319),
 ('RX-7', 320),
 ('AVENGER', 321),
 ('SENTRA', 322),
 ('CL55 AMG', 323),
 ('ML500', 324),
 ('ION', 325),
 ('S40', 326),
 ('V50', 327),
 ('HHR', 328),
 ('RSX', 329),
 ('LESABRE', 330),
 ('SONIC', 331),
 ('JETTA', 332),
 ('TITAN', 333),
 ('CARAVAN', 334),
 ('M3', 335),
 ('M45', 336),
 ('PATRIOT', 337),
 ('ACADIA', 338),
 ('128', 339),
 ('PACIFICA', 340),
 ('SILVERADO 2500', 341),
 ('CANYON', 342),
 ('XJ8', 343),
 ('RDX', 344),
 ('C250', 345),
 ('R10', 346),
 ('HS 250H', 347),
 ('MKZ', 348),
 ('RX-8', 349),
 ('BAJA', 350),
 ('MR2 SPYDER', 351),
 ('MKT', 352),
 ('S63 AMG', 353),
 ('M35', 354),
 ('CIVIC', 355),
 ('G20', 356),
 ('MKX', 357),
 ('RS5', 358),
 ('S60', 359),
 ('E-350', 360),
 ('CL', 361),
 ('YUKON HYBRID', 362),
 ('FUSION HYBRID', 363),
 ('i-290', 364),
 ('MAGNUM', 365),
 ('XTERRA', 366),
 ('M56', 367),
 ('WRANGLER', 368),
 ('640', 369),
 ('LAND CRUISER', 370),
 ('CROWN VICTORIA', 371),
 ('DEVILLE', 372),
 ('SIERRA HYBRID', 373),
 ('AURA HYBRID', 374),
 ('EXPLORER SPORT', 375),
 ('LR2', 376),
 ('550', 377),
 ('GENESIS', 378),
 ('ES 300H', 379),
 ('FUSION', 380),
 ('FIT', 381),
 ('SL500', 382),
 ('CHEROKEE', 383),
 ('GRAND CHEROKEE', 384),
 ('VELOSTER', 385),
 ('XC70', 386),
 ('CONTINENTAL', 387),
 ('MKZ HYBRID', 388),
 ('S8', 389),
 ('RS6', 390),
 ('ACCENT', 391),
 ('A5', 392),
 ('GX 470', 393),
 ('SABLE', 394),
 ('TRAVERSE', 395),
 ('G30', 396),
 ('SPRINTER', 397),
 ('CONCORDE', 398),
 ('LX 470', 399),
 ('TSX', 400),
 ('PARK AVENUE', 401),
 ('FORTWO', 402),
 ('SLK350', 403),
 ('HIGHLANDER', 404),
 ('AURA', 405),
 ('C55 AMG', 406),
 ('MAXIMA', 407),
 ('QX56', 408),
 ('BLAZER', 409),
 ('RABBIT', 410),
 ('CLK55 AMG', 411),
 ('F450', 412),
 ('E500', 413),
 ('TRACKER', 414),
 ('LW200', 415),
 ('RONDO', 416),
 ('OUTLANDER', 417),
 ('E-150', 418),
 ('TRANSIT CONNECT', 419),
 ('R320', 420),
 ('EQUUS', 421),
 ('4RUNNER', 422),
 ('S-TYPE', 423),
 ('FX45', 424),
 ('VUE', 425),
 ('CAMRY HYBRID', 426),
 ('GRAND AM', 427),
 ('ASPEN', 428),
 ('SANTA FE', 429),
 ('CHALLENGER SRT-8', 430),
 ('SILVERADO 1500 HD', 431),
 ('XJ', 432),
 ('LR3', 433),
 ('L100', 434),
 ('SX4', 435),
 ('MKS', 436),
 ('MONTERO', 437),
 ('E550', 438),
 ('AVIATOR', 439),
 ('XJR', 440),
 ('SONATA HYBRID', 441),
 ('DART', 442),
 ('ILX HYBRID', 443),
 ('GS 450H', 444),
 ('ENVOY XL', 445),
 ('CL600', 446),
 ('ELISE', 447),
 ('CLK63 AMG Black Series', 448),
 ('RIDGELINE', 449),
 ('XK', 450),
 ('911', 451),
 ('SPECTRA', 452),
 ('E-250', 453),
 ('PHAETON', 454),
 ('M6', 455),
 ('OPTIMA HYBRID', 456),
 ('GRAND VITARA', 457),
 ('STRATUS', 458),
 ('CX-7', 459),
 ('I35', 460),
 ('CLS55 AMG', 461),
 ('325', 462),
 ('X1', 463),
 ('TRIBUTE HYBRID', 464),
 ('IS F', 465),
 ('X-TYPE', 466),
 ('SPORTAGE', 467),
 ('JOURNEY', 468),
 ('RAM 5500', 469),
 ('745', 470),
 ('UPLANDER', 471),
 ('MPV', 472),
 ('CT 200H', 473),
 ('LW300', 474),
 ('GS 300', 475),
 ('EXPRESS 3500', 476),
 ('YUKON XL 2500', 477),
 ('MDX', 478),
 ('QUEST', 479),
 ('MONTEREY', 480),
 ('TC', 481),
 ('XB', 482),
 ('DEFENDER', 483),
 ('SPARK', 484),
 ('LS 600H', 485),
 ('VERACRUZ', 486),
 ('TERRAZA', 487),
 ('ENCORE', 488),
 ('H1', 489),
 ('CAPTIVA SPORT', 490),
 ('350Z', 491),
 ('Q5', 492),
 ('RS4', 493),
 ('ES 350', 494),
 ('CALIBER', 495),
 ('SAVANA 3500', 496),
 ('C240', 497),
 ('ASTRA', 498),
 ('AVALANCHE 1500', 499),
 ('RELAY', 500),
 ('INTRIGUE', 501),
 ('RENDEZVOUS', 502),
 ('AZTEK', 503),
 ('FORTE', 504),
 ('GOLF', 505),
 ('C43 AMG', 506),
 ('RX 450H', 507),
 ('ZDX', 508),
 ('VERSA', 509),
 ('135', 510),
 ('SL63 AMG', 511),
 ('R500', 512),
 ('BOXSTER', 513),
 ('H3', 514),
 ('ESCAPE HYBRID', 515),
 ('FX37', 516),
 ('MUSTANG', 517),
 ('IS 350', 518),
 ('MARINER HYBRID', 519),
 ('CHARGER SRT-8', 520),
 ('X3', 521),
 ('XD', 522),
 ('CORVETTE', 523),
 ('AVEO', 524),
 ('200', 525),
 ('A8', 526),
 ('TUCSON', 527),
 ('TIBURON', 528),
 ('328', 529),
 ('A6', 530),
 ('AURORA', 531),
 ('SILVERADO 1500', 532),
 ('PRIUS PLUG IN HYBRID', 533),
 ('530', 534),
 ('S500', 535),
 ('SLK230', 536),
 ('ZEPHYR', 537),
 ('WINDSTAR', 538),
 ('MALIBU', 539),
 ('GRAND MARQUIS', 540),
 ('FREESTYLE', 541),
 ('G8', 542),
 ('PROTEGE', 543),
 ('G37', 544),
 ('ENVOY XUV', 545),
 ('GLI', 546),
 ('BRAVADA', 547),
 ('525', 548),
 ('RANGE ROVER', 549),
 ('FX35', 550),
 ('S4', 551),
 ('RANGE ROVER EVOQUE', 552),
 ('RIO5', 553),
 ('QUATTROPORTE', 554),
 ('S550', 555),
 ('L200', 556),
 ('GRAND CARAVAN', 557),
 ('CLK550', 558),
 ('XLR', 559),
 ('IS 250', 560),
 ('F550', 561),
 ('MURANO', 562),
 ('GS 430', 563),
 ('CABRIO', 564),
 ('H3T', 565),
 ('INSIGHT', 566),
 ('LS', 567),
 ('ML550', 568),
 ('GTO', 569),
 ('FOCUS ELECTRIC', 570),
 ('TL', 571),
 ('S400', 572),
 ('XF', 573),
 ('S430', 574),
 ('TERRAIN', 575),
 ('ML350', 576),
 ('GLK250', 577),
 ('FOCUS', 578),
 ('EXPRESS 1500', 579),
 ('IMPREZA', 580),
 ('R8', 581),
 ('MONTEGO', 582),
 ('FIESTA', 583),
 ('ALLROAD', 584),
 ('760', 585),
 ('VERANO', 586),
 ('SL550', 587),
 ('RX 300', 588),
 ('MOUNTAINEER', 589),
 ('540', 590),
 ('ASCENDER', 591),
 ('CAMRY', 592),
 ('GL320', 593),
 ('SONOMA', 594),
 ('ELEMENT', 595),
 ('XA', 596),
 ('SAVANA 2500', 597),
 ('M37', 598),
 ('S6', 599),
 ('CAYMAN', 600),
 ('GRAND CHEROKEE SRT-8', 601),
 ('CENTURY', 602),
 ('SOLARA', 603),
 ('Z3', 604),
 ('MARK LT', 605),
 ('SIENNA', 606),
 ('PILOT', 607),
 ('SAVANA 1500', 608),
 ('C30', 609),
 ('VIBE', 610),
 ('SEQUOIA', 611),
 ('LACROSSE', 612),
 ('PT CRUISER', 613),
 ('VIPER', 614),
 ('335 HYBRID', 615),
 ('C63 AMG', 616),
 ('SKY', 617),
 ('MONTERO SPORT', 618),
 ('CR-Z', 619),
 ('S80', 620),
 ('ROGUE', 621),
 ('JETTA HYBRID', 622),
 ('SC 400', 623),
 ('ESCORT', 624),
 ('CX-9', 625),
 ('ML320', 626),
 ('EXPLORER SPORT TRAC', 627),
 ('XL-7', 628),
 ('X5', 629),
 ('SIERRA 1500', 630),
 ('SORENTO', 631),
 ('REGAL', 632),
 ('VENTURE', 633),
 ('KIZASHI', 634),
 ('RAIDER', 635),
 ('EXPLORER', 636),
 ('XKR', 637),
 ('B3000', 638),
 ('BRZ', 639)]

In [22]:
references['purchase_model']

{'128': 339,
 '135': 510,
 '1M': 279,
 '200': 525,
 '3-Sep': 162,
 '300': 3,
 '300 C SRT': 144,
 '300M': 12,
 '300ZX': 208,
 '320': 67,
 '325': 462,
 '328': 529,
 '330': 295,
 '335': 143,
 '335 HYBRID': 615,
 '350Z': 491,
 '370Z': 71,
 '4RUNNER': 422,
 '5-Sep': 4,
 '500': 240,
 '525': 548,
 '528': 239,
 '530': 534,
 '535': 220,
 '540': 590,
 '545': 178,
 '550': 377,
 '626': 205,
 '640': 369,
 '640 B640': 288,
 '645': 187,
 '650': 175,
 '740': 226,
 '745': 470,
 '750': 300,
 '750 HYBRID': 118,
 '760': 585,
 '9-2X': 50,
 '911': 451,
 'A3': 194,
 'A4': 262,
 'A5': 392,
 'A6': 530,
 'A7': 156,
 'A8': 526,
 'ACADIA': 338,
 'ACCENT': 391,
 'ACCORD': 13,
 'ACCORD CROSSTOUR': 160,
 'ACCORD HYBRID': 59,
 'AERIO': 274,
 'ALERO': 227,
 'ALLROAD': 584,
 'ALPINA B7': 304,
 'ALTIMA': 8,
 'ALTIMA HYBRID': 100,
 'AMANTI': 177,
 'ARMADA': 312,
 'ASCENDER': 591,
 'ASCENDER EXT': 92,
 'ASPEN': 428,
 'ASPEN HYBRID': 275,
 'ASTRA': 498,
 'ASTRO': 244,
 'ATS': 133,
 'AURA': 405,
 'AURA HYBRID': 374,
 'AURORA': 531,
 'AVALANCHE 1500': 499,
 'AVALANCHE 2500': 225,
 'AVALON': 51,
 'AVALON HYBRID': 90,
 'AVENGER': 321,
 'AVEO': 524,
 'AVIATOR': 439,
 'AZERA': 249,
 'AZTEK': 503,
 'B2300': 276,
 'B3000': 638,
 'B4000': 85,
 'B9 TRIBECA': 141,
 'BAJA': 350,
 'BEETLE': 285,
 'BLAZER': 409,
 'BONNEVILLE': 19,
 'BORREGO': 81,
 'BOXSTER': 513,
 'BRAVADA': 547,
 'BRZ': 639,
 'C-MAX': 212,
 'C/V': 29,
 'C230': 268,
 'C240': 497,
 'C250': 345,
 'C280': 254,
 'C30': 609,
 'C300': 198,
 'C32 AMG': 98,
 'C320': 34,
 'C350': 1,
 'C43 AMG': 506,
 'C55 AMG': 406,
 'C63 AMG': 616,
 'C70': 45,
 'CABRIO': 564,
 'CADENZA': 28,
 'CALIBER': 495,
 'CALIBER SRT-4': 135,
 'CAMARO': 289,
 'CAMRY': 592,
 'CAMRY HYBRID': 426,
 'CANYON': 342,
 'CAPTIVA SPORT': 490,
 'CARAVAN': 334,
 'CAVALIER': 224,
 'CAYENNE': 211,
 'CAYMAN': 600,
 'CC': 7,
 'CELICA': 316,
 'CENTURY': 602,
 'CHALLENGER': 97,
 'CHALLENGER SRT-8': 430,
 'CHARGER': 149,
 'CHARGER SRT-8': 520,
 'CHEROKEE': 383,
 'CIVIC': 355,
 'CIVIC HYBRID': 217,
 'CL': 361,
 'CL500': 105,
 'CL55 AMG': 323,
 'CL550': 24,
 'CL600': 446,
 'CL63 AMG': 165,
 'CLK320': 310,
 'CLK350': 256,
 'CLK430': 142,
 'CLK500': 299,
 'CLK55 AMG': 411,
 'CLK550': 558,
 'CLK63 AMG': 103,
 'CLK63 AMG Black Series': 448,
 'CLS500': 319,
 'CLS55 AMG': 461,
 'CLS550': 23,
 'CLS63 AMG': 136,
 'COBALT': 174,
 'COLORADO': 121,
 'COMMANDER': 115,
 'COMPASS': 305,
 'CONCORDE': 398,
 'CONTINENTAL': 387,
 'CONTINENTAL GT': 41,
 'COOPER': 57,
 'COROLLA': 291,
 'CORVETTE': 523,
 'CR-V': 235,
 'CR-Z': 619,
 'CROSSFIRE': 114,
 'CROSSFIRE SRT-6': 247,
 'CROWN VICTORIA': 371,
 'CRUZE': 246,
 'CT 200H': 473,
 'CTS': 301,
 'CUBE': 290,
 'CX-5': 151,
 'CX-7': 459,
 'CX-9': 625,
 'DAKOTA': 252,
 'DART': 442,
 'DEFENDER': 483,
 'DEVILLE': 372,
 'DIAMANTE': 189,
 'DTS': 271,
 'DURANGO': 251,
 'E-150': 418,
 'E-250': 453,
 'E-350': 360,
 'E300': 61,
 'E320': 33,
 'E350': 49,
 'E430': 102,
 'E500': 413,
 'E55 AMG': 17,
 'E550': 438,
 'E63 AMG': 108,
 'ECHO': 128,
 'ECLIPSE': 48,
 'EDGE': 229,
 'ELANTRA': 286,
 'ELEMENT': 595,
 'ELISE': 447,
 'ENCLAVE': 69,
 'ENCORE': 488,
 'ENDEAVOR': 204,
 'ENTOURAGE': 213,
 'ENVOY': 257,
 'ENVOY XL': 445,
 'ENVOY XUV': 545,
 'EOS': 282,
 'EQUATOR': 200,
 'EQUINOX': 145,
 'EQUUS': 421,
 'ES 300': 153,
 'ES 300H': 379,
 'ES 330': 230,
 'ES 350': 494,
 'ESCALADE': 109,
 'ESCALADE HYBRID': 25,
 'ESCAPE': 116,
 'ESCAPE HYBRID': 515,
 'ESCORT': 624,
 'EUROVAN': 83,
 'EX35': 277,
 'EX37': 302,
 'EXCURSION': 314,
 'EXPEDITION': 182,
 'EXPEDITION EL': 176,
 'EXPLORER': 636,
 'EXPLORER SPORT': 375,
 'EXPLORER SPORT TRAC': 627,
 'EXPRESS 1500': 579,
 'EXPRESS 2500': 278,
 'EXPRESS 3500': 476,
 'F150': 317,
 'F150 HERITAGE': 292,
 'F250': 159,
 'F350': 218,
 'F450': 412,
 'F550': 561,
 'FIESTA': 583,
 'FIREBIRD': 267,
 'FIT': 381,
 'FIVE HUNDRED': 75,
 'FJ CRUISER': 293,
 'FLEX': 183,
 'FOCUS': 578,
 'FOCUS ELECTRIC': 570,
 'FORENZA': 166,
 'FORESTER': 236,
 'FORTE': 504,
 'FORTWO': 402,
 'FR-S': 112,
 'FREESTAR': 193,
 'FREESTYLE': 541,
 'FRONTIER': 65,
 'FUSION': 380,
 'FUSION HYBRID': 363,
 'FX35': 550,
 'FX37': 516,
 'FX45': 424,
 'FX50': 173,
 'G20': 356,
 'G25': 47,
 'G3': 77,
 'G30': 396,
 'G35': 260,
 'G37': 544,
 'G5': 308,
 'G500': 22,
 'G6': 111,
 'G8': 542,
 'GALANT': 6,
 'GENESIS': 378,
 'GL320': 593,
 'GL350': 241,
 'GL450': 318,
 'GL550': 266,
 'GLI': 546,
 'GLK250': 577,
 'GLK350': 63,
 'GOLF': 505,
 'GRAND AM': 427,
 'GRAND CARAVAN': 557,
 'GRAND CHEROKEE': 384,
 'GRAND CHEROKEE SRT-8': 601,
 'GRAND MARQUIS': 540,
 'GRAND PRIX': 73,
 'GRAND VITARA': 457,
 'GS 300': 475,
 'GS 350': 169,
 'GS 430': 563,
 'GS 450H': 444,
 'GS 460': 70,
 'GTI': 258,
 'GTO': 569,
 'GX 460': 172,
 'GX 470': 393,
 'H1': 489,
 'H2': 161,
 'H3': 514,
 'H3T': 565,
 'HHR': 328,
 'HIGHLANDER': 404,
 'HIGHLANDER HYBRID': 46,
 'HS 250H': 347,
 'I35': 460,
 'ILX': 296,
 'ILX HYBRID': 443,
 'IMPALA': 38,
 'IMPREZA': 580,
 'INSIGHT': 566,
 'INTRIGUE': 501,
 'ION': 325,
 'IQ': 197,
 'IS 250': 560,
 'IS 300': 265,
 'IS 350': 518,
 'IS F': 465,
 'JETTA': 332,
 'JETTA HYBRID': 622,
 'JOURNEY': 468,
 'JUKE': 199,
 'JX35': 273,
 'KIZASHI': 634,
 'L100': 434,
 'L200': 556,
 'L300': 14,
 'LACROSSE': 612,
 'LANCER': 127,
 'LAND CRUISER': 370,
 'LEAF': 154,
 'LEGACY': 148,
 'LESABRE': 330,
 'LIBERTY': 79,
 'LR2': 376,
 'LR3': 433,
 'LR4': 245,
 'LS': 567,
 'LS 430': 93,
 'LS 460': 297,
 'LS 600H': 485,
 'LUCERNE': 11,
 'LW200': 415,
 'LW300': 474,
 'LX 470': 399,
 'LX 570': 84,
 'M3': 335,
 'M35': 354,
 'M35H': 284,
 'M37': 598,
 'M45': 336,
 'M5': 21,
 'M56': 367,
 'M6': 455,
 'MAGNUM': 365,
 'MAGNUM SRT-8': 72,
 'MALIBU': 539,
 'MALIBU CLASSIC': 52,
 'MALIBU HYBRID': 137,
 'MARAUDER': 80,
 'MARINER': 313,
 'MARINER HYBRID': 519,
 'MARK LT': 605,
 'MATRIX': 155,
 'MAXIMA': 407,
 'MAZDA2': 188,
 'MAZDA3': 201,
 'MAZDA5': 248,
 'MAZDA6': 306,
 'MDX': 478,
 'MILAN': 86,
 'MILAN HYBRID': 309,
 'MKS': 436,
 'MKT': 352,
 'MKX': 357,
 'MKZ': 348,
 'MKZ HYBRID': 388,
 'ML320': 626,
 'ML350': 576,
 'ML500': 324,
 'ML550': 568,
 'ML63 AMG': 185,
 'MONTANA': 2,
 'MONTE CARLO': 54,
 'MONTEGO': 582,
 'MONTEREY': 480,
 'MONTERO': 437,
 'MONTERO SPORT': 618,
 'MOUNTAINEER': 589,
 'MPV': 472,
 'MR2 SPYDER': 351,
 'MURANO': 562,
 'MURANO CROSS CABRIOLET': 192,
 'MUSTANG': 517,
 'MX-5 MIATA': 180,
 'NAVIGATOR': 31,
 'NAVIGATOR L': 44,
 'NEON': 259,
 'NITRO': 152,
 'NV 1500': 214,
 'NV 2500': 30,
 'ODYSSEY': 261,
 'OPTIMA': 164,
 'OPTIMA HYBRID': 456,
 'OUTBACK': 55,
 'OUTLANDER': 417,
 'OUTLANDER SPORT': 303,
 'OUTLOOK': 253,
 'PACIFICA': 340,
 'PANAMERA': 138,
 'PARK AVENUE': 401,
 'PASSAT': 95,
 'PATHFINDER': 196,
 'PATRIOT': 337,
 'PHAETON': 454,
 'PILOT': 607,
 'PRIUS': 203,
 'PRIUS C': 280,
 'PRIUS PLUG IN HYBRID': 533,
 'PRIUS V': 64,
 'PROTEGE': 543,
 'PROTEGE5': 125,
 'PT CRUISER': 613,
 'Q45': 157,
 'Q5': 492,
 'Q7': 179,
 'QUATTROPORTE': 554,
 'QUEST': 479,
 'QX4': 237,
 'QX56': 408,
 'QX60': 99,
 'R10': 346,
 'R32': 167,
 'R320': 420,
 'R350': 106,
 'R500': 512,
 'R8': 581,
 'RABBIT': 410,
 'RAIDER': 635,
 'RAINIER': 184,
 'RAM 1500': 62,
 'RAM 2500': 130,
 'RAM 3500': 150,
 'RAM 5500': 469,
 'RAM C/V': 68,
 'RAM SRT 10': 181,
 'RANGE ROVER': 549,
 'RANGE ROVER EVOQUE': 552,
 'RANGE ROVER SPORT': 207,
 'RANGER': 134,
 'RAV4': 186,
 'RDX': 344,
 'REGAL': 632,
 'RELAY': 500,
 'RENDEZVOUS': 502,
 'RENO': 58,
 'RIDGELINE': 449,
 'RIO': 233,
 'RIO5': 553,
 'RL': 243,
 'RODEO': 27,
 'ROGUE': 621,
 'RONDO': 416,
 'ROUTAN': 96,
 'RS4': 493,
 'RS5': 358,
 'RS6': 390,
 'RSX': 329,
 'RX 300': 588,
 'RX 330': 215,
 'RX 350': 113,
 'RX 400H': 250,
 'RX 450H': 507,
 'RX-7': 320,
 'RX-8': 349,
 'S-10': 60,
 'S-TYPE': 423,
 'S2000': 255,
 'S350': 190,
 'S4': 551,
 'S40': 326,
 'S400': 572,
 'S430': 574,
 'S5': 272,
 'S500': 535,
 'S55 AMG': 18,
 'S550': 555,
 'S6': 599,
 'S60': 359,
 'S600': 107,
 'S63 AMG': 353,
 'S65 AMG': 191,
 'S8': 389,
 'S80': 620,
 'SABLE': 394,
 'SAFARI': 228,
 'SANTA FE': 429,
 'SAVANA 1500': 608,
 'SAVANA 2500': 597,
 'SAVANA 3500': 496,
 'SC 400': 623,
 'SC 430': 94,
 'SC1': 158,
 'SC2': 238,
 'SEBRING': 311,
 'SEDONA': 39,
 'SENTRA': 322,
 'SEQUOIA': 611,
 'SEVILLE': 170,
 'SIENNA': 606,
 'SIERRA 1500': 630,
 'SIERRA 1500 HD': 129,
 'SIERRA 2500': 122,
 'SIERRA 3500': 82,
 'SIERRA CLASSIC': 222,
 'SIERRA HYBRID': 373,
 'SILVERADO 1500': 532,
 'SILVERADO 1500 HD': 431,
 'SILVERADO 2500': 341,
 'SILVERADO 3500': 32,
 'SILVERADO CLASSIC': 101,
 'SILVERADO HYBRID': 231,
 'SKY': 617,
 'SL': 78,
 'SL1': 146,
 'SL2': 74,
 'SL500': 382,
 'SL55 AMG': 40,
 'SL550': 587,
 'SL600': 221,
 'SL63 AMG': 511,
 'SLK230': 536,
 'SLK250': 56,
 'SLK280': 117,
 'SLK300': 223,
 'SLK320': 91,
 'SLK350': 403,
 'SLK55 AMG': 35,
 'SOLARA': 603,
 'SOLSTICE': 307,
 'SONATA': 110,
 'SONATA HYBRID': 441,
 'SONIC': 331,
 'SONOMA': 594,
 'SORENTO': 631,
 'SOUL': 294,
 'SPARK': 484,
 'SPECTRA': 452,
 'SPECTRA5': 147,
 'SPORTAGE': 467,
 'SPRINTER': 397,
 'SPRINTER 2500': 120,
 'SPRINTER 3500': 281,
 'SRX': 163,
 'SSR': 87,
 'STRATUS': 458,
 'STS': 15,
 'SUBURBAN 1500': 37,
 'SUBURBAN 2500': 88,
 'SUNFIRE': 5,
 'SUPRA': 210,
 'SX4': 435,
 'TACOMA': 232,
 'TAHOE': 20,
 'TAHOE HYBRID': 287,
 'TAURUS': 89,
 'TAURUS X': 66,
 'TC': 481,
 'TERRAIN': 575,
 'TERRAZA': 487,
 'THUNDERBIRD': 298,
 'TIBURON': 528,
 'TIGUAN': 131,
 'TITAN': 333,
 'TL': 571,
 'TORRENT': 132,
 'TOUAREG': 269,
 'TOWN AND COUNTRY': 76,
 'TOWN CAR': 209,
 'TRACKER': 414,
 'TRAILBLAZER': 171,
 'TRAILBLAZER EXT': 219,
 'TRANSIT CONNECT': 419,
 'TRAVERSE': 395,
 'TRIBECA': 264,
 'TRIBUTE': 206,
 'TRIBUTE HYBRID': 464,
 'TSX': 400,
 'TT': 202,
 'TTS': 270,
 'TUCSON': 527,
 'TUNDRA': 123,
 'UPLANDER': 471,
 'V50': 327,
 'V70': 119,
 'VELOSTER': 385,
 'VENTURE': 633,
 'VENZA': 43,
 'VERACRUZ': 486,
 'VERANO': 586,
 'VERONA': 36,
 'VERSA': 509,
 'VERSA NOTE': 10,
 'VIBE': 610,
 'VILLAGER': 216,
 'VIPER': 614,
 'VOLT': 104,
 'VUE': 425,
 'VUE HYBRID': 26,
 'WINDSTAR': 538,
 'WRANGLER': 368,
 'X-TYPE': 466,
 'X1': 463,
 'X3': 521,
 'X5': 629,
 'X6': 263,
 'X6 HYBRID': 9,
 'XA': 596,
 'XB': 482,
 'XC60': 195,
 'XC70': 386,
 'XC90': 283,
 'XD': 522,
 'XF': 573,
 'XG350': 315,
 'XJ': 432,
 'XJ8': 343,
 'XJR': 440,
 'XK': 450,
 'XK8': 42,
 'XKR': 637,
 'XL-7': 628,
 'XLR': 559,
 'XTERRA': 366,
 'XTS': 242,
 'XV CROSSTREK': 124,
 'YARIS': 234,
 'YUKON': 168,
 'YUKON HYBRID': 362,
 'YUKON XL 1500': 126,
 'YUKON XL 2500': 477,
 'Z3': 604,
 'Z4': 53,
 'ZDX': 508,
 'ZEPHYR': 537,
 'i-280': 16,
 'i-290': 364,
 'i-350': 139,
 'i-MIEV': 140}

In [23]:
export_groups = [sedanCluster,truckCluster,suvCluster,wagonCluster,vanCluster,coupeCluster,convertibleCluster]

In [24]:
cluster_names = ['sedanCluster','truckCluster','suvCluster','wagonCluster','vanCluster','coupeCluster'
                        ,'convertibleCluster']
index = 0
for group in export_groups:
    for x in group.Labels.unique():
        group[group.Labels==x].to_csv(cluster_names[index]+str(x)+'.csv', index = False)
    index += 1