In [4]:
pip install ibm_db

Collecting ibm_db
  Downloading https://files.pythonhosted.org/packages/6f/4e/48bf113d4f14b20a5008ea9f7784654041d8f7730c1081b370f569d80c93/ibm_db-3.0.2.tar.gz (718kB)
     |████████████████████████████████| 727kB 4.1MB/s
Building wheels for collected packages: ibm-db
  Building wheel for ibm-db (setup.py) ... done
  Created wheel for ibm-db: filename=ibm_db-3.0.2-cp37-cp37m-macosx_10_9_x86_64.whl size=31648025 sha256=61e0db2095944791d82139b5f2c03214bfa62a462303110ee4685508138deb6e
  Stored in directory: /Users/thomasottotrankle/Library/Caches/pip/wheels/84/64/42/10b217b545e8085b72160632c61bfa0909f661dad89326a956
Successfully built ibm-db
Installing collected packages: ibm-db
Successfully installed ibm-db-3.0.2
Note: you may need to restart the kernel to use updated packages.

In [21]:
pip install ipython-sql # SQL magic function

Collecting ipython-sql
  Downloading https://files.pythonhosted.org/packages/ab/3d/0d38357c620df31cebb056ca1804027112e5c008f4c2c0e16d879996ad9f/ipython_sql-0.4.0-py3-none-any.whl
Requirement already satisfied: six in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.13.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (1.3.13)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading https://files.pythonhosted.org/packages/14/05/6e8eb62ca685b10e34051a80d7ea94b7137369d8c0be5c3b9d9b6e3f5dae/sqlparse-0.4.1-py3-none-any.whl (42kB)
     |████████████████████████████████| 51kB 3.1MB/s
Requirement already satisfied: ipython>=1.0 in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython-sql) (7.11.1)
Collecting prettytable<1
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Requirement already satisfied: jedi>=0.10 in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.14.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.2)
Requirement already satisfied: pickleshare in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (44.0.0.post20200106)
Requirement already satisfied: pygments in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.5.2)
Requirement already satisfied: decorator in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.1)
Requirement already satisfied: traitlets>=4.2 in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.7.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: backcall in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: parso>=0.5.0 in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.2)
Requirement already satisfied: wcwidth in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-cp37-none-any.whl size=13700 sha256=bbb80299dfd74bdb8e95bb166661b1cf78dcb7e1f1cffda000423771068931fb
  Stored in directory: /Users/thomasottotrankle/Library/Caches/pip/wheels/80/34/1c/3967380d9676d162cb59513bd9dc862d0584e045a162095606
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.1
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install sqlalchemy # ORM for databases

Requirement already satisfied: sqlalchemy in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (1.3.13)
Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install ibm_db_sa

Collecting ibm_db_sa
  Downloading https://files.pythonhosted.org/packages/62/af/88781f8dc7a414507ab94a2b91319bdbd3b5375e38353446c113c548adcb/ibm_db_sa-0.3.6.tar.gz
Requirement already satisfied: sqlalchemy>=0.7.3 in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ibm_db_sa) (1.3.13)
Requirement already satisfied: ibm_db>=2.0.0 in /Users/thomasottotrankle/opt/anaconda3/lib/python3.7/site-packages (from ibm_db_sa) (3.0.2)
Building wheels for collected packages: ibm-db-sa
  Building wheel for ibm-db-sa (setup.py) ... done
  Created wheel for ibm-db-sa: filename=ibm_db_sa-0.3.6-cp37-none-any.whl size=28860 sha256=2f1024104cb5ca642c54069822bb0b0069e8fd96a7ee113e941eb01a861a88c1
  Stored in directory: /Users/thomasottotrankle/Library/Caches/pip/wheels/97/b5/8a/17a01086a100d48a008b2b556843b23fef5eb69a6b4f04c419
Successfully built ibm-db-sa
Installing collected packages: ibm-db-sa
Successfully installed ibm-db-sa-0.3.6
Note: you may need to restart the kernel to use updated packages.

RESTART YOUR KERNEL

In [2]:
import ibm_db
import sqlalchemy
import ibm_db_sa

In [3]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "fnx28407"        # e.g. "abc12345"
dsn_pwd = "zn42xx76bm^xz56"     # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [4]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create the dsn connection string
dsn = "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=fnx28407;PWD=zzn42xx76bm^xz56;"

#print the connection string to check correct values are specified
print(dsn)

DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=fnx28407;PWD=zzn42xx76bm^xz56;

In [5]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  fnx28407 on host:  dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net

## Now we can run SQL code in our IPython notebooks

In [6]:
# Load relevant packages
%load_ext sql

ModuleNotFoundError: No module named 'ibm_db_sa'

In [7]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
%sql ibm_db_sa://fnx28407:zzn42xx76bm^xz56@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB

DB2/LINUXX8664

In [11]:
## MAGIC TIME -- can type straight SQL code
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='FNX28407';

 * ibm_db_sa://fnx28407:***@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB
Done.

[('FNX28407', 'CARMAXREMODELED', datetime.datetime(2020, 12, 10, 22, 5, 19, 168805))]

In [13]:
%sql select count(*) from SYSCAT.COLUMNS where TABNAME='CARMAXREMODELED'

 * ibm_db_sa://fnx28407:***@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('17'),)]

In [23]:
%sql select count(*) from CARMAXREMODELED where "AgeBin"='Twenties'

 * ibm_db_sa://fnx28407:***@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('83004'),)]

In [18]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'CARMAXREMODELED'

 * ibm_db_sa://fnx28407:***@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB
Done.

[('insert_num', 'INTEGER', 4),
 ('purchase_make', 'VARCHAR', 13),
 ('purchase_model', 'VARCHAR', 22),
 ('purchase_vehicle_year', 'SMALLINT', 2),
 ('purchase_price_LB', 'INTEGER', 4),
 ('purchase_price_UB', 'INTEGER', 4),
 ('trade_in', 'SMALLINT', 2),
 ('vehicle_financing', 'SMALLINT', 2),
 ('customer_age', 'VARCHAR', 8),
 ('customer_income', 'VARCHAR', 15),
 ('customer_gender', 'VARCHAR', 1),
 ('customer_previous_purchase', 'SMALLINT', 2),
 ('customer_distance_to_dealer', 'SMALLINT', 2),
 ('post_purchase_satisfaction', 'VARCHAR', 2),
 ('vehicle_warranty_used', 'SMALLINT', 2),
 ('subsequent_purchases', 'SMALLINT', 2),
 ('AgeBin', 'VARCHAR', 11)]

In [25]:
%sql select "purchase_make" from CARMAXREMODELED order by "purchase_price_UB" desc nulls last LIMIT 11

 * ibm_db_sa://fnx28407:***@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB
Done.

[('AUDI',),
 ('BMW',),
 ('MERCEDES-BENZ',),
 ('PORSCHE',),
 ('PORSCHE',),
 ('LAND ROVER',),
 ('BENTLEY',),
 ('PORSCHE',),
 ('BMW',),
 ('PORSCHE',),
 ('PORSCHE',)]

We can also save our results from these queries as dataframes

In [56]:
# Top 20 sold cars
Top_20 = %sql select "purchase_make","purchase_model","purchase_vehicle_year", count(*) as "NumSold" from CARMAXREMODELED GROUP BY "purchase_make","purchase_model","purchase_vehicle_year" ORDER BY count(*) desc LIMIT 20

 * ibm_db_sa://fnx28407:***@dashdb-txn-sbox-yp-dal09-12.services.dal.bluemix.net:50000/BLUDB
Done.

In [57]:
print(type(Top_20))
Top_20 = Top_20.DataFrame()
type(Top_20)

<class 'sql.run.ResultSet'>

pandas.core.frame.DataFrame

In [58]:
Top_20

   purchase_make purchase_model  purchase_vehicle_year NumSold
0         NISSAN         ALTIMA                   2010    3439
1         NISSAN         ALTIMA                   2012    3231
2      CHEVROLET         MALIBU                   2012    2950
3         TOYOTA          CAMRY                   2011    2915
4          HONDA         ACCORD                   2010    2727
5        HYUNDAI         SONATA                   2011    2602
6         TOYOTA          CAMRY                   2010    2387
7           FORD          FOCUS                   2012    2228
8         TOYOTA        COROLLA                   2010    2127
9          DODGE        AVENGER                   2012    2110
10        NISSAN          VERSA                   2012    1988
11     CHEVROLET         IMPALA                   2012    1781
12        TOYOTA           RAV4                   2010    1778
13        TOYOTA          PRIUS                   2010    1696
14         HONDA          CIVIC                   2010    1645
15        NISSAN          ROGUE                   2010    1590
16        NISSAN         ALTIMA                   2011    1574
17     CHEVROLET         MALIBU                   2011    1571
18        NISSAN         MAXIMA                   2010    1551
19          FORD         FUSION                   2011    1548

## Retrieve data into Pandas 

In this step we will retrieve the contents of the table into a Pandas dataframe

In [27]:
import pandas
import ibm_db_dbi

In [28]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [29]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from CARMAXREMODELED"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

In [30]:
pdf.head()

,insert_num,purchase_make,purchase_model,purchase_vehicle_year,purchase_price_LB,purchase_price_UB,trade_in,vehicle_financing,customer_age,customer_income,customer_gender,customer_previous_purchase,customer_distance_to_dealer,post_purchase_satisfaction,vehicle_warranty_used,subsequent_purchases,AgeBin
0,81690,DODGE,CHARGER,2012,15001.0,20000.0,1,1,21 - 30,40001 - 60000,U,0,8.0,?,0,1,Twenties
1,109994,FORD,F150,2007,15001.0,20000.0,0,0,51 - 60,0 - 20000,F,1,19.0,?,0,0,Fifties
2,11399,BMW,328,2010,25001.0,30000.0,1,1,41 - 50,60001 - 80000,F,1,21.0,?,0,0,Forties
3,214156,LEXUS,GS 300,2003,10001.0,15000.0,0,1,21 - 30,20001 - 40000,M,0,8.0,?,0,0,Twenties
4,36685,CHEVROLET,CRUZE,2012,15001.0,20000.0,1,1,31 - 40,120001 - 140000,M,1,5.0,?,1,1,Thirties

In [59]:
ibm_db.close(conn)

True